[2017-06-01 19:15] youming-lin commented on #1110
@KristofMercier
You can find the supported Swift version in the `.swift-version` file at project's root for at each version snapshot.

Off top of my head 1.2-1.6 all support Swift 3 (either 3, 3.0.1, or 3.0.2). We made the jump to 3.1.1 in Kitura 1.7.

[2017-06-02 17:59] #1109 closed

[2017-06-03 01:55] GiacomoLeopizzi opened #1111 "Email sending Kitura"
Is it possible to send email using Kitura? If so, how?

Many thanks!
Giacomo

[2017-06-03 04:59] youming-lin commented on #1111
Hi @GiacomoLeopizzi
We are working on an SMTP client, which we hope to release soon :)

[2017-06-03 14:24] GiacomoLeopizzi commented on #1111
How soon is soon :) ?

[2017-06-03 15:18] youming-lin commented on #1111
@GiacomoLeopizzi
No guarantees, but we are hoping for next week due a last issue bug that needs fixing. How soon do you need it?

[2017-06-03 17:53] GiacomoLeopizzi commented on #1111
@youming-lin Actually as soon as possible. We used another library but on stress test it crashes because of some force-unwrapping... It's so annoying ;)

[2017-06-03 18:19] youming-lin commented on #1111
@GiacomoLeopizzi
I'll ask my team and see if we can release it sooner. Unfortunately, we haven't stress-tested our package either, but we are definitely willing to fix any bugs found.

[2017-06-03 19:46] quanvo87 commented on #1111
@GiacomoLeopizzi [Swift-SMTP](https://github.com/IBM-Swift/Swift-SMTP) has been released. Please let us know of any issues you come across!

[2017-06-03 20:52] GiacomoLeopizzi commented on #1111
@quanvo87 @youming-lin  Thank you so much!

[2017-06-03 20:52] #1111 closed

[2017-06-05 13:57] KristofMercier commented on #1110
That works! Thank you.

[2017-06-05 14:22] youming-lin commented on #1110
YW!!! I will close this issue now.

[2017-06-05 14:22] #1110 closed

[2017-06-08 13:02] shmuelk opened #1113 "Add ability to unregister WebSocketServices"

[2017-06-09 16:05] svanimpe opened #1114 "Infinite redirect"
I have the following code in my first middleware (used on all routes):
[code]
The goal here is ofcourse to make sure all requests are using https. This redirection works in the sense that the client is indeed redirected to `https://...`. However, the value of `originalURL` always starts with `http://` so my app gets stuck in an infinite loop and I end up with a "Too many redirects" error.

This ma

[2017-06-10 13:01] svanimpe commented on #1114
I have also inspected `request.urlURL.scheme` and that always returns `http` as well.

[2017-06-10 13:10] bridger commented on #1071
I've found that I need to put a breakpoint on this line to find errors. Could we just add logging to this one line?

https://github.com/IBM-Swift/Kitura/blob/master/Sources/Kitura/RouterMiddlewareWalker.swift#L67
[code]

[2017-06-10 13:20] bridger opened #1115 "Router.viewsPath must be set before adding template engine"
I just spent a while debugging a recent change in behavior. It seems that `viewsPath` must be set before calling `add(templateEngine:)` or the `viewsPath` will be ignored.

This was my code that worked okay on v1.7.3:

[code]

However, now on v1.7.4 I was getting errors that the templates weren't found in the "./Views" directory. It turns out that when you add a template engine it makes a copy of

[2017-06-10 16:51] JippeJoosten opened #1116 "Issue with Swift-Kuery"
I am trying to perform a raw query on my MySQL database, but also the most simple query ( SELECT * FROM table) doesn’t work. I actually should write raw queries with parameters, but I can not find any documentation about that. Can you help me?

[2017-06-11 07:13] #1116 closed

[2017-06-11 12:52] shmuelk commented on #1114
Are you redirecting to a server on Bluemix? If so, I don't you'll ever see it as HTTPS:, On Bluemix SSL/TLS is terminated on proxy servers and forwarded to you as regular HTTP.

[2017-06-11 13:24] svanimpe commented on #1114
Yes. my app requires SSL so I added that check/forward to make SSL the default. If this will work, then how do I accomplish what I need?

[2017-06-11 13:43] shmuelk commented on #1114
I would check the headers to see if it was forded through Bluemix's TLS/SSL termination.

[2017-06-11 18:12] svanimpe commented on #1114
I see a couple of headers that seems related to this:
[code]
Which one do you recommend I use?

[2017-06-11 18:16] shmuelk commented on #1114
X-Forwarded-Proto with a value of https, would imply that the request was originally https. Was it?
I’d add logging to see what that value is, on every request.
Just to make sure of what is going on. Including on the original request with HTTP.

[2017-06-11 18:28] svanimpe commented on #1114
It was, and the value of `X-Forwarded-Proto` seems to be consistent based on my tests and logs, so I'll try that!

[2017-06-12 07:46] svanimpe commented on #1114
So far everything works for me using `X-Forwarded-Proto`.

[2017-06-12 07:46] #1114 closed

[2017-06-13 06:17] vadimeisenbergibm opened #1117 "Fix handling default template engine in the latest version"

[2017-06-13 08:33] vadimeisenbergibm commented on #1117
Fixed in c2435167e215ebf27d4cd6f4bf6c2ce5e4bb1491, tag 1.7.5.

[2017-06-14 16:47] na-gupta opened #1121 "Update Kitura repos for Swift 4"
- Update kitura related repos to work with swift 4, while maintaining backwards compatibility with swift 3.1.
- Add travis builds with the latest swift 4 snapshots to the existing swift 3.1 builds.
- .swift-version should be updated to 4.0 only after swift 4 is released and stay at latest 3.x till then.

[2017-06-19 16:49] na-gupta opened #1122 "Kitura-net tests are intermittently crashing with swift 4 snapshot"
See https://travis-ci.org/IBM-Swift/Kitura-net/builds/243906452

[2017-06-26 15:20] #1122 closed

[2017-06-28 15:28] #1099 closed

[2017-06-28 15:29] #1113 closed

[2017-07-03 12:58] djones6 opened #1125 "Allow tuning max requests per keepalive connection"
I've been investigating Kitura's poor performance on OSX with https://github.com/tbrand/which_is_the_fastest

It appears that the benchmark client (written in crystal) doesn't perform well when having to establish new connections to the server.  Out of the 3 swift frameworks, looks like we're the only one that implements a limited number of requests per connection. Closing the connection every 100

[2017-07-03 13:31] shmuelk commented on #1125
@djones6 Can you please post here the headers from the request and the response from one of the requests in the benchmark? It would help, if it was done for each of the frameworks.

[2017-07-03 14:15] djones6 commented on #1125
The client repeats a sequence of two GETs and a POST.  Here's the sequence for a single loop:

### Kitura:
[code]
### Vapor:
[code]
### Perfect:
[code]

[2017-07-06 13:03] djones6 commented on #1034
IBM-Swift/Kitura-net#206 fixes problem 1 (trying to access the read queue by FD after the socket has been closed and the FD has become -1).

Problem 2 remains, even if access to the `socketHandlers` array is guarded by a lock:
https://github.com/IBM-Swift/Kitura-net/commit/71bef2d53b1fc0dc342a9026427d2885ec5e1ad0#diff-ef13b51c2f666188cb20f0a691510a51R125
[code]
Thread list:
[code]
- `#1` is the ma

[2017-07-08 06:42] portergoh opened #1127 "App server crash after running for sometime"
Hi Support,

The app server always crash after i ran it for few days and the error was

[ERROR] [IncomingHTTPSocketProcessor.swift:198 parse] Failed to parse a request. Parsed fewer bytes than were passed to the HTTP parser

[2017-07-09 17:01] rymcol commented on #1034
After the last merge (#206) I still have this issue under high loads, but it takes longer for it to happen. (Almost 10 minutes to Segmentation fault vs almost 5 minutes before). So it is definitely better, but still occurring.

[2017-07-10 14:30] djones6 commented on #1034
@rymcol could you share the backtrace of your most recent segfault?  It would be useful to know if it is a re-occurrence of problem 1) above,  or if you are now hitting 2),  or conceivably another problem entirely.

[2017-07-11 20:04] rymcol commented on #1034
@djones6 Under heavy load: ![screen shot 2017-07-11 at 4 03 08 pm](https://user-images.githubusercontent.com/2954549/28088063-8d870b16-6652-11e7-9593-ddd03aeba038.png)

[2017-07-14 21:35] kweinmeister opened #1128 "Kitura Welcome Screen points to missing TodoList repo"
The link to the TodoList repo should be replaced with another Kitura repo.

[2017-07-19 15:14] youming-lin commented on #1128
Should it point to https://github.com/IBM-Swift/TodoList-CouchDB instead?

[2017-07-19 16:05] djones6 commented on #1034
An update on this issue: we initially thought the failure was somehow due to concurrent access / modification of the `socketHandlers` dictionary.

However, I no longer believe this is the case: after experimenting with locking all accesses to the dictionary, the failure is still reproducible.  It seems that the crash occurs when ARC attempts to deinit a particular `IncomingSocketHandler` which, ap

[2017-07-19 20:37] kweinmeister commented on #1128
That makes sense, and should be a quick fix (no need to change the icon).

[2017-07-21 09:00] djones6 commented on #1034
I tried something to see if I could get any information on the instance that is (apparently) being deinitialized twice.  I tried using an `if let` block to nil the reference to `tempHandler`, which - surprisingly - seemed to give me a view of the instance that is about to be deallocated:

<img width="893" alt="temphandler_bad_access_debug" src="https://user-images.githubusercontent.com/17850918/28

[2017-07-22 07:27] collinhundley commented on #362
@youming-lin is there any reason we're still using `LclJSONSerialization` on Linux? This seems to be the case as of v1.7.

I've run into an issue where `LclJSONSerialization` fails, but I don't want to spend a lot of time tracking it down if `JSONSerialization` would be a better option.

[2017-07-22 17:19] youming-lin commented on #362
@collinhundley We held off the change pending performance check by @djones6. @djones6 can you comment on this?

[2017-07-24 14:14] djones6 commented on #1034
[Adding a sacrificial field](https://github.com/IBM-Swift/Kitura-net/commit/a1b0dcb4e550a0a0d5457335bfcb91962f26a633) to the beginning of `IncomingSocketHandler` apparently prevents the crash from occurring.  I went from 1/3 to 3/3 successful runs of my workload ("BrowserSimulation") on a Macbook, and 0/3 to 3/3 successful runs on a Mac Mini.

Adding a random field is not a fix, but it supports a

[2017-07-24 19:27] quanvo87 commented on #1121
Blocked awaiting data on traffic/clones of the repos. This will help us decide which repos we can delete/deprecate and reduce unneeded work.

[2017-07-24 22:28] #1128 closed

[2017-07-25 12:45] kweinmeister commented on #1102
Fixed in PR #1108

[2017-07-25 12:45] #1102 closed

[2017-07-25 19:42] jkingoliver commented on #1103
Hi @gmosx, check out this sample that I built that has a Kitura Swift backend and a simple frontend with a Carbon Design component.

The readme has detailed instructions for how to:
1. Create a Kitura Swift application using a Yeoman generator
2. Install IBM Carbon Design System artifacts using `npm install`
3. Build out a web page and integrate the Carbon Design components of interest

Let me kno

[2017-07-26 07:30] gmosx commented on #1103
Thank you Jennifer, the example looks useful. I will check it later today.

[2017-07-26 08:41] djones6 commented on #362
We did do a performance evaluation and there were several pieces of work identified that would be needed to bring `JSONSerialization` up to the same performance as we currently have in `LclJSONSerialization`.  Swift 3.1 included two PRs which brought JSONSerialization much closer to Lcl:
- https://github.com/apple/swift-corelibs-foundation/pull/718
- https://github.com/apple/swift-corelibs-foundat

[2017-07-26 12:10] djones6 commented on #1034
The Address Sanitizer in Xcode did not catch the problem (which implies this may not be a memory corruption issue).

@carlbrown suggested I try the I tried to use the new Undefined Behaviour Sanitizer in Xcode 9, which requires that I use the 4.0 toolchain.  However, I can't get the crash to occur with this toolchain (with/without the sanitizer, or even in release mode).  More testing needed.

[2017-07-26 19:10] quanvo87 opened #1130 "Enable option to init SSL with no cert"
@quanvo87 commented on [Wed Jul 12 2017](https://github.com/IBM-Swift/Swift-SMTP/issues/32)

---

@quanvo87 commented on [Mon Jul 17 2017](https://github.com/IBM-Swift/Swift-SMTP/issues/32#issuecomment-315803635)

Addressed in https://github.com/IBM-Swift/Swift-SMTP/releases/tag/v1.0.8

[2017-07-26 19:11] quanvo87 opened #1131 "Allow headers to be replaced"
@collinhundley commented on [Wed Jul 05 2017](https://github.com/IBM-Swift/Swift-SMTP/issues/26)

I tried sending an email formatted as HTML, by including an extra header:

[code]

However, we get this error:

[code]

It looks like `SMTPSocket` is still sending `Content-Type: text/plain` along with the new header, which is invalid.

Is there a way we can update the API to overwrite headers rather

[2017-07-26 19:11] #1131 closed

[2017-07-26 19:12] #1130 closed

[2017-07-26 19:18] quanvo87 commented on #1121
Also working with Ricardo and Package Builder for ways to better automate this process.

[2017-07-26 19:27] quanvo87 opened #1132 "Knowledge transfer from research"
https://ibm.ent.box.com/notes/185087596082

[2017-07-28 06:36] keshavakarthik opened #1133 "SSL Connection Error"
I have added an SSL certificate to my kitura server. Sometimes i get the
**"Error accepting client connection: Error code: 5(0x5), ERROR: SSL_accept, code: 5, reason: DH lib"**.  Once i restart the server process error goes away. I am getting this issue once in every 2-3 days.

[2017-07-31 22:21] kweinmeister commented on #1133
This issue should be addressed in [this BlueSSLService commit](https://github.com/IBM-Swift/BlueSSLService/commit/335495c857b7062ecf7e228d8e021d0f7d51c5c9). Please rebuild to verify that 0.12.46 of BlueSSLService is fetched, and that the issue is resolved.

[2017-08-01 09:24] keshavakarthik commented on #1133
@kweinmeister  Thanks. After upgrading & rebuild haven't got any errors till now.

[2017-08-01 13:33] kweinmeister commented on #1133
OK, will close the issue then. Please reopen if you still see the problem. Thanks!

[2017-08-02 15:09] kweinmeister commented on #1127
@portergoh Which version of Kitura are you using? Can you try upgrading to the latest to see if the issue still exists?

[2017-08-02 15:11] #1132 closed

[2017-08-02 15:14] #1008 closed

[2017-08-02 15:16] na-gupta opened #1134 "Move Kitura-HTTP2 to public github as private repo"
Move https://github.ibm.com/IBM-Swift/Kitura-HTTP2 to public github as a private repo and setup travis.com builds.

[2017-08-02 15:41] na-gupta opened #1135 "Nil dereference timing window in removeIdleSockets"
@djones6 commented on [Wed Jul 19 2017](https://github.com/IBM-Swift/Kitura-net/issues/209)

There appears to be a timing window in [IncomingSocketManager.removeIdleSockets](https://github.com/IBM-Swift/Kitura-net/blob/03af0ffa166e3f1a076dc8f873ba24dbbc891617/Sources/KituraNet/IncomingSocketManager.swift#L242) where a field can become nil between checking for nil and then force-unwrapping it:
[cod

[2017-08-02 16:34] #1134 closed

[2017-08-02 16:36] na-gupta commented on #1134
Github: https://github.com/IBM-Swift/Kitura-HTTP2
Travis: https://travis-ci.com/IBM-Swift/Kitura-HTTP2

[2017-08-03 13:15] keshavakarthik commented on #1133
@kweinmeister Issue still appearing. Please address it.

[2017-08-03 13:26] keshavakarthik opened #1136 "SSL Issue"
@kweinmeister  https://github.com/IBM-Swift/Kitura/issues/1133 This issue still exists

[2017-08-03 13:34] kweinmeister commented on #1136
Closing this issue and reopening #1133

[2017-08-03 13:34] #1136 closed

[2017-08-03 13:54] kweinmeister commented on #1133
Is there any impact you can observe, or is there just an error in the log?

The team is currently focused on other items in the backlog, and will continue further investigation when time allows. PRs are certainly welcome in the meantime.

[2017-08-03 16:43] keshavakarthik commented on #1133
We are consuming few REST API's built using Kitura for our eCommerce store. All of a sudden and error log appears : "Error accepting client connection: Error code: 5(0x5), ERROR: SSL_accept, code: 5, reason: DH lib". This impacts further requests to the server and none of the https requests are served.
@kweinmeister I kindly request you to look into this asap. Our Kitura server is in production &

[2017-08-03 16:59] kweinmeister commented on #1133
Got it, thanks @keshavakarthik! Some more questions to help move forward...

Which version of Kitura and Swift are you using? Which OS and version?

It will also be helpful to provide reproduction steps. Ideally, your team can trim down the problem into a small test project you can share, that will allow more people to debug.

[2017-08-03 17:30] keshavakarthik commented on #1133
@kweinmeister
Kitura - 1.7.6
Swift version 3.0.1 (LLVM 0e49d60410, Clang 968470f170, Swift 13f05f0094)
OS Version - Ubuntu 16.04.2 LTS
We are running our servers on AWS

[2017-08-03 17:37] kweinmeister commented on #1133
I would recommend upgrading to Swift 3.1.1, which has multiple stabilization improvements, to see if the problem still occurs.

[2017-08-03 17:38] keshavakarthik commented on #1133
Ok will do that

[2017-08-03 18:13] kweinmeister commented on #1133
Also, if you can delete your `.build` and `Packages` directory, and then do a clean rebuild... and provide the version of BlueSSLService you see, that would be helpful.

[2017-08-04 04:03] keshavakarthik commented on #1133
BlueSSLService : 0.12.46

[2017-08-06 06:41] vadimeisenbergibm commented on #1031
Implemented in https://github.com/IBM-Swift/Kitura-Sample/commit/3095e8ecd1c77f8477e3c6965019af56dd37bb36

[2017-08-06 06:41] #1031 closed

[2017-08-06 06:43] vadimeisenbergibm commented on #1022
Implemented in https://github.com/IBM-Swift/GRMustache.swift/commit/bc7cfc1c12a6c0d3cc8873fd5b93c85ba2c94535

[2017-08-06 06:47] #1022 closed

[2017-08-09 08:33] djones6 commented on #1135
This was fixed by https://github.com/IBM-Swift/Kitura-net/issues/210

[2017-08-09 08:33] #1135 closed

[2017-08-09 11:26] sujaykakkad opened #1138 "Request throwing error on multiple parallel requests"
[code]

[2017-08-09 11:26] sujaykakkad commented on #1138
Actually this is the complete error
[code]

[2017-08-09 17:39] na-gupta commented on #1138
@sujaykakkad Could you please confirm that you're using the latest version of Kitura (1.7.6) with a clean build and with updated dependencies.

If you are still seeing this, could you describe how to replicate the error, preferably with a small concrete example. Thanks.

[2017-08-13 16:18] vadimeisenbergibm opened #1140 "Enable serving static files on iOS"

[2017-08-15 13:18] #1140 closed

[2017-08-22 00:41] mman opened #1143 "TLS Server stops responding after several days"
I have a simple Kitura based web server with TSL and basic auth running on multiple hosts inside docker with latest Swift 3.x image which is itself based on Ubuntu 16.04 IIRC. All built using the latest packages from SPM.

This Kitura server is successfully serving under 1 req per minute from valid endpoints on the internet that know the basic auth params and is publicly available on the internet

[2017-08-22 07:16] keshavakarthik commented on #1133
@kweinmeister Any update on this?

[2017-08-22 10:20] djones6 commented on #1143
One first thing to check would be the version of BlueSSLService you are using.  There was a bug introduced briefly in level 0.12.42 (fixed in 0.12.44) that could hang the listener if non-HTTPS connections were attempted (https://github.com/IBM-Swift/BlueSSLService/issues/36).  If you have 0.12.44 or newer, you're okay.

Assuming that isn't it, could you try enabling verbose logging and see whether

[2017-08-22 17:47] na-gupta opened #1144 "RouterRequest accepts() returns unpredictable result for identical input parameters"
When RouterRequest accepts() is given header values with the same priority and weight (qValue), the return value is based on ordering in an intermediate dictionary, which is unpredictable.

The [generally accepted behavior](https://tools.ietf.org/html/rfc4647#section-2.3) for servers in such cases is to return the first value.

For example, if the header value was "gzip,deflate" and both are accep

[2017-08-23 15:18] LoiKos opened #1146 "Parsed fewer bytes than were passed to the HTTP parser - Unit Testing"
Hi !

I get an issue while testing, found this error `ClientRequest error. Failed to parse response. Error=Parsed fewer bytes than were passed to the HTTP parser`

I based my test on Kitura sample example:

[code]

[code]
 Any idea where it could coming from ?

[2017-08-23 17:04] keshavakarthik commented on #1143
@djones6 I am also facing the same problem. BlueSSLService Version is 0.12.48.

[2017-08-24 13:12] #1144 closed

[2017-08-24 14:09] mman commented on #1143
I'm seeing this on 0.12.47 and from what I could see there is nothing special in the logs, from time to time an error message indicating a wrong request of this or that but nothing special.

I wonder if there is an easy way to grab a stack from within the docker container that would helps us figure out what the threads are doing when the Kitura part gets hung. Installing ``lldb`` inside the contai

[2017-08-30 13:53] carlbrown commented on #1143
How much memory is the process using when it starts slowing down? Run `ps aux` and look for the `RSS` column.

It's quite possible that memory growth has made the container begin to swap, which would cause poor (and unpredictable) performance.

[2017-08-30 14:20] mman commented on #1143
Nope, it's all stable as it is serving other TCP/UDP connections on other non-Kitura sockets that are part of the same process just fine, I'm waiting for the Kitura part to hang to grab a stack.

[2017-09-01 13:55] mman commented on #1143
I managed to find out one process where Kitura is hanging and here is some output I managed to dig out from gdb, I need to restart the process now but hopefully it can help figure out where the problem lies:

[code]

I don't know what thread 1 is doing or if it is correct, but here is the backtrace:

[code]

thread 2 seems similarly mysterious to me:

[code]

Thread 3 seems to be the BlueSSL doing

[2017-09-03 03:19] NocturnalSolutions commented on #1146
I've noticed that one way to cause "Parsed fewer bytes" is to make a request to Kitura using a method which is not defined in the RouterMethod enum. Based on that, I have the hunchiest of hunches that you may fix this by changing

            let method = "post"

to

            let method = "POST"

It's worth a try, at least.

[2017-09-03 13:49] mman commented on #1143
Several of my instances on different machines with different IP addresses from the same C segment got the hang today at around the same time. Unfortunately I haven't managed to grab the stack this time but it leads me to believe that it was some kind of bot/malware/scanner thing that is trying various different types of payload which causes Kitura to hang.

[2017-09-04 06:34] sujaykakkad commented on #1138
Actually it has only come once or twice. I am not able to reproduce it for now. But the version is the same (1.7.6)

[2017-09-04 12:50] LoiKos commented on #1146
That was a good idea but it's not working with `"POST"` I don't really know where it come from...

I can give an access to the code available here : https://github.com/LoiKos/kituraAPI

[2017-09-04 13:56] mman commented on #1143
Ahother hang today, here are the stacks for three Kitura related threads:

Thread 3 stuck in ``BIO_read`` looks really suspicious to me, either we have a accepted client and socket and data ready so that we can perform ``BIO_read``, or we don't and we must timeout.

[code]

[code]

[code]

[2017-09-07 06:10] sujaykakkad opened #1147 "FastCGI giving segmentation fault"
I am running a Kitura server on FastCGI and on PUT request I am sending a large data whose content length is around 200000. The request is working on HTTP server but failing in FastCGI server. The worst part is the application is exiting. Please get it fixed.
I have written this basic block of code.
[code]

[2017-09-07 06:16] sujaykakkad commented on #1147
I have created a JSON link
https://api.myjson.com/bins/1fytyx

 If you copy this JSON and send a PUT request from Postman
 to this link
http://localhost:80/hello/123134 (Port might be different)

The server stops and gives this
[code]

[2017-09-07 06:34] sujaykakkad commented on #1147
Wait refer this link

http://text-share.com/view/raw/4be85487

[2017-09-08 08:30] djones6 commented on #1143
I think I've recreated this.

I believe that it's actually quite a simple problem, but it took the clue in @mman 's previous comment to figure out what's happening:  it's not a hang or failure as such, but a weakness in the design of the socket accept loop.  An incoming connection that establishes a TCP session but then sends no data will block the server from accepting connections indefinitely.

[2017-09-08 08:39] djones6 commented on #1143
I believe this is an issue that will need addressing in BlueSSLService, I raised https://github.com/IBM-Swift/BlueSSLService/issues/40

[2017-09-08 11:35] mman commented on #1143
Thanks @djones6 for your investigation. I have taken a look at two other instances that are now "hanging" for more than 10 hours and I could not in fact find the established connections, looks like they are gone (closed already) but the process is still in the same stack trace.

[2017-09-08 11:59] mman commented on #1143
@djones6 Correction: I did indeed find the lingering inactive connections to the mentioned port, it was only a bit more complex since my app is running inside of docker conteiners and thus the necessary connections were not visible on the main host but rather inside of the container. But they are there.

I have also reproduced the problem that you described. Using ``telnet`` or ``nc`` to the liste

[2017-09-10 10:06] sieder opened #1149 "swift build error"
Swift version 4.0-dev

so whenever I run "swift build" this issue pops out

[code]
I am assuming it might be a different syntax to use inside Package.swift for building in Swift 4, because it worked on swift 3.1.

Package.swift
[code]

UPDATE

[code]

issue: Fetching https://github.com/IBM-Swift/Kitura.git
error: could not find executable for 'git'

[2017-09-10 16:13] youming-lin commented on #1149
Do you have `git` installed and in your system's `PATH`?

[2017-09-10 20:19] sieder commented on #1149
Yea, thanks, I missed that, it did remove that issue and returned this after running swift build.

[code]

[2017-09-10 22:39] youming-lin commented on #1149
For that, you have to add `Kitura` to the target's dependencies, like so:
[code]

[2017-09-11 04:25] sieder commented on #1149
It crossed out the issue and again it throws a new one,

`Compile Swift Module 'SSLService' (1 sources)
<module-includes>:1:10: note: in file included from <module-includes>:1:
#include "shim.h"
         ^
/home/user/Apps/myFirstProject/.build/checkouts/OpenSSL.git--5358878159534755497/shim.h:20:10: error: 'openssl/conf.h' file not found
#include <openssl/conf.h>
         ^
/home/user/Apps/myFirst

[2017-09-11 04:30] youming-lin commented on #1149
I'm assuming you are using Linux?

If so, do you have `OpenSSL` installed? Specifically, you need these two packages: `openssl` and `libssl-dev`.
https://github.com/IBM-Swift/OpenSSL/blob/master/Package%40swift-4.swift#L25

[2017-09-11 04:44] sieder commented on #1149
Yes, you right, I installed both libcurl4-openssl-dev and libssl-dev and finally it worked. Thanks @youming-lin !

[2017-09-11 05:03] youming-lin commented on #1149
You're welcome! I'll close this issue then.

[2017-09-11 05:03] #1149 closed

[2017-09-11 12:13] sieder opened #1150 "error: no such module"
I am using ubuntu 16.04, Swift 4 and trying to add Kitura-Markdown.git, am I missing something? This is the error.

[code]

**Package.swift**
[code]

**main.swift**
[code]

[2017-09-11 15:17] youming-lin commented on #1150
`KituraMarkdown` needs to be in your target's dependencies as well, like so:

[code]

[2017-09-11 19:37] sieder commented on #1150
thanks, its working.

[2017-09-11 19:37] sieder commented on #1150
Thanks it's working now.

[2017-09-11 19:37] #1150 closed

[2017-09-12 22:19] leanne63 opened #1151 "Build process doesn't complete after BlueSSLService fetch"
Since late last week, I've been unable to build a Kitura package. The fetch process output stops at/after the BlueSSLService, with the Terminal title bar flashing as though it's stuck in a loop.

My `Package.swift` looks like:

[code]

`swift build` outputs:

[code]

Using `swift build -v`, I found the build process appears to be repeatedly trying to do work with HeliumLogger, LoggerAPI, Swift-SMT

[2017-09-12 22:52] youming-lin commented on #1151
The loop symptom is specific to [Swift 3.1](https://bugs.swift.org/browse/SR-4400) and fixed is fixed in Swift 3.1.1.

The underlying cause is because of a version mismatch on a sub-dependency. We might have inadvertently introduced a dependency mismatch in our process to update repos for Swift 4.

[2017-09-12 23:38] youming-lin commented on #1151
Found one odd thing: there was an odd `1.1.0` tag in `Kitura-SMTP`. All the other tags start with `v`, but this didn't. There is also a `v1.1.0` tag. I deleted the `1.1.0` tag and it seems to work now.

@leanne63 Can you try to `swift package fetch` again? Make sure to delete the `.build` folder and the `Package.pins` file first.

[2017-09-13 06:27] ranshon opened #1152 "how to debug the logic code use IDE"

[2017-09-13 13:42] leanne63 commented on #1151
Yes, it worked, @youming-lin ! Thanks!

[2017-09-13 14:31] #1151 closed

[2017-09-14 08:37] djones6 commented on #1125
#1148 adds an optional `keepAlive` parameter when creating an `HTTPServer`.  The default is to allow unlimited requests per Keep-Alive connection, but this can be controlled by the application, for example to return to the previous limit of 100:
[code]
Keep-Alive can also be disabled entirely with `.disabled`.

[2017-09-14 14:03] #1125 closed

[2017-09-25 10:29] andy1247008998 opened #1154 "How to dismiss note: you may be able to install openssl using your system-packager?"
[code]

I have already installed openssl and libssl-dev

[code]

[2017-09-25 14:44] youming-lin commented on #1154
It's coming from here: https://github.com/IBM-Swift/OpenSSL/blob/master/Package%40swift-4.swift#L25

Not sure if Swift Package Manager has a way to conditionally display the message.

[2017-09-27 19:28] t3ndai commented on #791
If Kitura, is to be Express.js-esque. I would support continue having Swift-Kuery, as it's close to SQL hence really flexible.

[2017-09-29 12:53] klaas commented on #1091
second this! Just ran into an utf-8 issue and was wondering, why my json object was displayed strange. Right now I have to add:

	response.headers.setType("json", charset: "utf-8")

This seem odd nowadays.

[2017-10-03 10:02] AzAli71 opened #1156 "how can use Kitura with swift 4.0 ?"
hi , I upgraded my Swift version to swift 4.0 , now I don't know how can import kitura to swift.package
swift.package syntax has changed and I don't know how can add kitura to package.swift in swift v 4.0 the your tutorial in your website hast expired and their does not work in swift.package with swift 4.0 now I want to add Kitura and HeluimLogger to my package.swift but I can't :( because compile

[2017-10-03 10:06] AzAli71 commented on #1156
import PackageDescription

let package = Package(
    name: "MyApp",
    dependencies: [
        // Dependencies declare other packages that this package depends on.
        // .package(url: /* package url */, from: "1.0.0"),
	.package(url: "https://github.com/IBM-Swift/Kitura.git" , from: "1.7.9"),
        .package(url: "https://github.com/IBM-Swift/HeliumLogger.git" , from: "1.7.1")
    ],
    t

[2017-10-03 13:56] youming-lin commented on #1156
@AzAli71 You have to add `Kitura` to your target's dependencies as well:
[code]

[2017-10-03 16:25] AzAli71 commented on #1156
tnx a lot  , if is possible please update Kitura documentation in kitura.io -> get start section -> package.swift

[2017-10-03 16:25] #1156 closed

[2017-10-09 06:45] #1138 closed

[2017-10-09 06:47] sujaykakkad commented on #1147
Please check into this issue. I have given all the details in reproducing this issue. If there is any detail required then let me know.

[2017-10-09 13:35] #1143 closed

[2017-10-09 15:09] mman commented on #1143
Thanks guys for fixing this issue. Could you please advise when it will be safe to rebuild my app depending on Kitura using ``swift build``? Looks like the necessary fixes are in in Kitura-net and BlueSSLService master branch already but while BlueSSLService had the new version tagged recently, the Kitura-net will need a new release to get pulled in properly as a Kitura dependency. Correct? Any pl

[2017-10-10 09:27] djones6 commented on #1143
Apologies for the delay in tagging this fix.  It appears to have introduced an intermittent test failure which I am debugging.

[2017-10-11 17:42] ljbennett62 commented on #950
Me too - Xcode V8.3.3, Swift 3.1
![image](https://user-images.githubusercontent.com/17774650/31457206-eab75b0e-ae70-11e7-8096-c1cd796d3551.png)

[2017-10-13 14:22] djones6 commented on #1143
It turned out that the test for this issue had exposed a problem with the way the OpenSSL error queue was being handled,  which I've resolved in `BlueSSLService 0.12.62`.

@mman Kitura-net has now been tagged with a fix for this issue: `1.7.17`

[2017-10-13 14:45] mman commented on #1143
So If I now ``swift build`` my project against latest stable kitura, it should just work, correct?

thanks for all your help,
Martin

[2017-10-13 15:09] mman commented on #1143
@djones6 Answering to myself, yes, simple ``swift build`` now fetches all updated dependencies correctly...

[2017-10-13 15:25] djones6 commented on #1133
@keshavakarthik I wonder if this is related to #1143 where a badly behaved client could interfere with the operation of Kitura's SSL listener port.  Is your server exposed to the internet at large (or, at least, to connection attempts outside of your control)?

The problem in the issue referenced above was that a client could block the listener from accepting any more connections.  I imagine your

[2017-10-13 15:35] djones6 commented on #1085
@connected-mgosbee I recently implemented a change that allows Keep-Alive to be disabled (#1148).

You can now pass the `keepAlive: .disabled` parameter to `Kitura.addHTTPServer()`.

[2017-10-17 14:28] ianpartridge opened #1159 "Migrate Kitura-Sample to Swift 4"
https://github.com/IBM-Swift/Kitura-Sample currently specifies `3.1.1` in `.swift-version`.

The repo needs migrating to Swift 4.

[2017-10-23 23:04] tettoffensive commented on #1104
@youming-lin I'm starting a new project in swift 4 and I'd prefer just to use Codable if it's going to be added soon. I looked into subclassing BodyParser but ran into a bunch of issues there

is there an eta on when the switch to Codable will be made?

[2017-10-23 23:10] youming-lin commented on #1104
@tettoffensive I don't have an ETA, but this PR will likely be the first step towards `Codable` support: https://github.com/IBM-Swift/Kitura/pull/1163

[2017-10-24 08:06] seabaylea commented on #1104
@tettoffensive It you take a look at the issue.swift4 branch, there's a lot of work there to add direct support for Codable into the routing framework - that's going to be merged in real soon now (tm).

[2017-10-25 01:27] dbecker215 commented on #950
I had the same issue. I have the newest update for Xcode `Version 9.0.1 (9A1004)` and

`Apple Swift version 4.0 (swiftlang-900.0.65.2 clang-900.0.37)
Target: x86_64-apple-macosx10.9.`

I had to remove the first line within Package.swift: `// swift-tools-version:4.0`

After that I removed the targets that are auto-generated and then it built fine. This was just for getting a new app to init.

[2017-10-25 09:03] seabaylea commented on #950
@dbecker215 What that happens do you also get a failure using `swift build` from the command line? (wondering whether its an Xcode / SPM integration issue or not).

[2017-10-25 12:39] dbecker215 commented on #950
@seabaylea Yes, I was getting failures building both ways until I made the above changes.

[2017-10-25 19:03] tettoffensive commented on #1071
@bridger What did you end up doing? With my custom error class I have an enum `MyServiceError` which for each error has an associated description and status error code. But this doesn't cover errors thrown by Kitura.

[code]

[2017-10-27 12:55] djones6 commented on #932
It seems that the HTTP parser is failing to spot that a request is complete, and continuing to parse the entire buffer.  A single request looks like this:
[code]
Two requests pipelined looks like this:
[code]
As far as I can tell, what should happen is:
- the parser parses the headers
- it _should_ spot the empty line that indicates the end of the headers
- it _should_ realize that since there is

[2017-10-29 08:46] shmuelk commented on #932
There is/was a PR by @tunniclm that corrects the headers complete callback, at least in the case of responses to HEAD requests. Perhaps something similar needs to be done here?

[2017-10-29 09:03] #1085 closed

[2017-10-29 09:14] djones6 commented on #932
I tried a change locally to set the `skipBody` flag appropriately when there is no header that indicates the presence of body data.  Surprisingly, this made no difference and the http_parser still consumed the whole buffer.

Interestingly, in the case where I pipeline two requests, the `on_headers_complete` callback fires twice (regardless of whether we return 1 or 0, ie. irrespective of the skipb

[2017-10-30 17:00] djones6 commented on #932
Perhaps the contract of `http_parser_execute` is to keep parsing until the buffer is exhausted?  It does fire the `on_message_complete` callback, but all we do is record that the message is complete.  Perhaps we should be triggering the handling as a result of this callback, rather than waiting for the parser to finish executing?

[2017-10-31 14:26] djones6 commented on #932
A solution is to call `http_parser_pause()` inside the `on_message_complete` callback.

This has the effect of causing `http_parser_execute()` to complete, without continuing to process the rest of the buffer.  We then go on to handle the complete message, and (assuming Keep-Alive is enabled), to reset the parser and then parse the remaining buffer.

[2017-11-03 15:50] imjog commented on #1159
@ianpartridge i want to work on this. Should i take this issue?

[2017-11-06 09:30] ianpartridge commented on #1159
Fixed in https://github.com/IBM-Swift/Kitura-Sample/pull/75

[2017-11-06 09:30] #1159 closed

[2017-11-06 13:06] seabaylea commented on #1071
@christiancompton can you pick this up?

[2017-11-06 15:53] eman6576 commented on #1152
@ranshon You can generate a `.xcodeproj` file to open your application in Xcode by doing `swift package generate-xcodeproj`. You can then place breakpoints in your code just like in an iOS project.

[2017-11-07 23:22] dmavromatis opened #1169 "missing required modules: 'CCurl', 'CHTTPParser'"
I'm trying to import a project and compile in XCODE (macOS/Cocoa) and I'm getting this error.

Here is my write up on Stack Overflow -- https://stackoverflow.com/questions/47167257/embedding-frameworks-from-swiftpm-into-cocoa-application-xcode

Using Kitura-net 1.7.0

[2017-11-08 10:58] djones6 opened #1170 "Swift 4.0.2 String.characters deprecation warnings"
`String.characters` has been deprecated in Swift 4 (https://github.com/apple/swift/pull/11881), although it appears this didn't make it into the initial 4.0 release.

Building with 4.0.2 results in warnings such as:
[code]

[2017-11-08 12:04] djones6 commented on #932
Reopening until https://github.com/IBM-Swift/Kitura-net/pull/230 is merged

[2017-11-08 23:11] tettoffensive opened #1171 "Kitura 2.0 415 Unsupported Media Type for all Codable json requests"
I've been getting `415 Unsupported Media Type` after upgrading to 2.0 for all my requests. Turns out that this method is the culprit

[code]

I'm using the client Paw to test my application which sends this request:

[code]

If I change the line to read:
[code]

Then I no longer get the `415`

So I'm not sure if the string compare should check if it starts with `application/json`? Or maybe there's

[2017-11-08 23:28] tettoffensive commented on #1071
As I play with 2.0, I'm seeing a limitation with codables. If I want to return a custom object in the case of an error. Rather than returning `MyCodable`, I'd like to return something like `{ "error": "this is the reason it errored"}`.

[code]

I guess I could solve this by creating a Codable which contains a variable for data and one for status.

So...

[code]

Maybe this is the way to do things,

[2017-11-09 00:56] tettoffensive opened #1172 "Getting Query Parameters in Codable Router"
[code]

How can I get any query parameters that came along with the request? In the last version before 2.0, I had access to the request object.

Also, It seems pretty limiting that I have to make my response be an array of Codable objects. I would like to wrap that inside another codable object. So, I'd love it to be `Item?` instead of `[Item]?` or support both ways.

[2017-11-09 10:11] seabaylea commented on #1171
Thanks Stuart - yes, it should be checking starts with rather than equals.

[2017-11-09 11:34] tunniclm commented on #1172
I was just talking the other day about adding a single-object version of the Codable `get`, so look for a PR for this soon.

We are discussing the design of query parameters and path parameters with Codable routing right now and would welcome thoughts and feedback (and use cases) to help guide the design. Feel free to comment here or join us on our Slack (https://swift-at-ibm-slack.mybluemix.net/)

[2017-11-10 13:10] seabaylea commented on #1169
Hi @dmavromatis Looking at the StackOverflow item, it looks like you managed to get a solution for this. Are you ok for us to close the issue?

[2017-11-10 13:19] seabaylea commented on #1172
For the query parameters we're looking at a "type safe" implementation where you specify a struct/class of the allowable parameters (including optionals) which is pre-parsed and passed into your handler as a parameter.

We'll publish a "Kitura Evolution" proposal soon, but it would be good to get your feedback ahead of then if your happy to.

[2017-11-10 17:09] tettoffensive commented on #1172
I like the idea of type safe. Can't wait to see the proposal

[2017-11-10 17:12] #1171 closed

[2017-11-11 18:44] morganzellers commented on #1170
Are you working on refactoring out `.characters`??

[2017-11-13 16:45] djones6 commented on #1146
@LoiKos Firstly, apologies that this issue was not investigated sooner.

I found the problem:  [A patch release of CCurl](https://github.com/IBM-Swift/CCurl/commit/2af6624102e1d154523d6bbc5b6ccfd6224ed0f1) - `0.2.4` - introduced a breaking change.  The corequisite change is in [Kitura-net 1.7.9](https://github.com/IBM-Swift/Kitura-net/commit/36298c4505230ce930b2937a7a5d2551ec2fc303),  but since yo

[2017-11-13 16:51] LoiKos commented on #1146
Ok I'll take a look when I get some time. I'll tell you if that works. Thanks !

[2017-11-14 18:56] christiancompton commented on #1103
Closed because

[2017-11-16 09:18] #1169 closed

[2017-11-16 16:24] Davidde94 opened #1181 "Hang when sending responses over SSL"
Hi,

You may have seen I've already talked about this on the IBM Slack, but having an issue is an easier way to keep track of things.

I've been having problems with sending responses over SSL, nothing massive, only a few KB at a time. After a lot of digging I found that the hang was on response.end(). After following the logic I found that the issue relates to Kitura's relationship with BlueSSLSe

[2017-11-16 17:20] djones6 commented on #1170
@morganzellers It looks like most repos have already been addressed, eg:
- https://github.com/IBM-Swift/Kitura/pull/1177
- https://github.com/IBM-Swift/Kitura-net/pull/233

I'm going to close this issue, however I'll see if it would make sense for us to open some 'starter' type issues for pick up.

[2017-11-16 17:20] #1170 closed

[2017-11-16 17:24] tunniclm commented on #1127
We fixed an issue recently (in Kitura-net `1.7.20`) that caused a crash on this message when a malformed request is encountered on a keep alive connection.

[2017-11-16 17:34] tunniclm commented on #1181
Thanks for opening this issue @Davidde94. As mentioned on Slack, I wasn't able to reproduce the issue with my simple test case but this does bear further investigation.

[2017-11-16 17:40] morganzellers commented on #1170
Sounds good, thanks @djones6!

[2017-11-17 02:08] KingAndroid opened #1182 "Getting all registered routes."
Hi, Kitura.
How are you and so glad to use this powerful library.

Could you please tell me how to get all registered routes from Route Class?
I think all routes are saved to elements variable of Router Class.
`
public class Router {

    /// Contains the list of routing elements
    var elements: [RouterElement] = []
`
I want to get all those elements with accessible function.
Is there any soluti

[2017-11-17 02:14] KingAndroid opened #1183 "Building API Documentation"
Hello Kitura.
How are you and I want you to know one more thing about Kitrua.

I am trying to build API documentation for Kitura and if is there any method or way to build it?

Just like Django Rest Framework's API Documentation.
Please check article and let me know about that.

[](http://www.django-rest-framework.org/topics/documenting-your-api/
)

Best regards.

[2017-11-19 19:43] cloutiertyler commented on #121
What is the status of the gcd async stuff? I'm just now realizing that I have to make all of my requests handling thread safe which could be largely avoided with an asynchronous architecture.

[2017-11-19 22:57] shmuelk commented on #121
The old "GCD ASYNCH stuff" has largely been merged into the main kitura-net (the Kitura networking layer) code. On OSX GCD is used and on Linux epoll with non-blocking sockets is used. The reason for not using GCD on Linux, is that the code that uses epoll performs significantly better than the GCD code.

[2017-11-19 23:00] cloutiertyler commented on #121
Thanks for the update! And that is good to know about epoll, I didn't realize their would be a significant performance difference for GCD on different platforms.

As far as I can tell, it looks like Kitura-Net is still using a block accept call in which each client connection is accepted on a different thread.

https://github.com/IBM-Swift/Kitura-net/blob/master/Sources/KituraNet/HTTP/HTTPServer.s

[2017-11-19 23:05] cloutiertyler commented on #121
Essentially, the thread management is killing me with Kitura since my in memory server state (necessary for testing) is having data races all over the place. I created https://github.com/skylab-inc/Edge which implements a single threaded GCD non-blocking API, albeit crudely. I was hoping that perhaps Kitura was intending to move in that direction.

[2017-11-20 01:31] cloutiertyler commented on #122
@rolivieri libdispatch does already have hooks for this. I just mentioned this over in https://github.com/IBM-Swift/Kitura/issues/121#issuecomment-345557872 as well.

[2017-11-20 06:13] seabaylea commented on #1183
Hi @KingAndroid. The API Docs for Kitura are currently built using "Jazzy":
https://github.com/realm/jazzy
and then published to kitura.io:
http://www.kitura.io/en/api/

Is that what your looking for?

[2017-11-20 06:16] seabaylea commented on #1182
Hi @KingAndroid. I don't think there's a public API today that lets your traverse over the set of registered routes/handlers.

Would it be possible to describe your use case for having access to that information, ie. what you would like to achieve?

[2017-11-20 06:27] KingAndroid commented on #1182
Hello.
Thanks for your reply and I am wanting to get all available routes just like in Laravel.
Please check the screen below.
![snip_20171120142246](https://user-images.githubusercontent.com/4363735/33005035-edeb47a6-cdfe-11e7-8ace-d9f42d91000f.png)

Great regards.

[2017-11-20 07:04] KingAndroid commented on #1183
Hi, @seabaylea .
Thanks for your reply and I've checked your urls.
And they're similar with what I want but exactly different.

I am looking for API Routing Documentation that is created my URL methods like GET, POST and etc.
Please have a look the screens.
![snip_20171120145817](https://user-images.githubusercontent.com/4363735/33006033-b5d216f6-ce03-11e7-9f19-0abbbc6d3475.png)
![snip_20171120145

[2017-11-20 08:59] shmuelk commented on #121
You are correct in that the accept is done in a blocking thread. However, the reading, parsing, and processing of the requests is done in blocks queued on the Global Queue.

See https://github.com/IBM-Swift/Kitura-net/blob/fc6e2178bba46b3209709c2e331b3ad4c402e780/Sources/KituraNet/HTTP/HTTPServer.swift#L193

[2017-11-21 07:47] seabaylea commented on #1183
Hi @KingAndroid. Thanks, that makes things much clearer.

At the moment we have only a very limited form of this, which:
* Only applies to generated CRUD applications (created using `kitura create`)
* Isn't dynamically generated (if you edit your API in the app, the "API Explorer" isn't updated)

We do have creating what your looking for on the roadmap though. The aim is that this would:
* Dynamic

[2017-11-21 07:48] seabaylea commented on #1182
Hi @KingAndroid. Is this in order to build a solution for #1183, or would you need access to the routes programmatically for other reasons?

[2017-11-21 08:10] KingAndroid commented on #1182
Hi @seabaylea .
Thanks for your reply and no, I am wanting to get those routes not just from API Documentation.
I am also want to check many things from server side.
For instance, avoiding duplicated table creation and so on.
It was so useful for check things with Laravel.

So I am just want to get all routes from a variable of Kitura that I mentioned at the beginning of this chat field, you know.

[2017-11-21 09:07] djones6 commented on #1146
Closing as fixed, but please do re-open if you find this has not solved the problem.

[2017-11-21 09:07] #1146 closed

[2017-11-23 15:57] djones6 opened #1188 "Content-Type header missing with codable routing"
When invoking a route that uses codable routing, JSON data is returned in the message body, but the `Content-Type` header is missing.

Example project:  https://github.com/djones6/CodableTest

Here's the route and the response:
[code]
[code]
The equivalent using the existing API does include the header:
[code]
[code]

[2017-11-24 11:54] seabaylea commented on #1182
Ok - I'll close this one and convert #1183 to an enhancement request.

[2017-11-24 11:54] #1182 closed

[2017-11-24 11:55] seabaylea commented on #1183
Converting to an enhancement request. Also, as per #1182, there's a requirement to have access to the route data programmatically a well as through Swagger and Swagger-UI

[2017-12-06 00:39] bielikb commented on #950
Guys, are you compiling against macOS or iOS (arm architecture) ?

[2017-12-07 15:25] rolivieri commented on #1121
this is done.

[2017-12-07 15:25] #1121 closed

[2017-12-10 10:50] seabaylea commented on #1188
This has just been reported by @svanimpe as well.

In each of the "safely" functions we do the encoding directly, e.g.  for `postSafely()`:
https://github.com/IBM-Swift/Kitura/blob/master/Sources/Kitura/CodableRouter.swift#L235
[code]
we have two choices:
1) Add a call to `response.headers.setType("json")`
2) Call `response.send(result)` instead and delegate the encoding to the send call

Approach

[2017-12-10 11:53] Hamza-Almass opened #1191 "Error listening on port 8090"
Hello All ,

i hope all is well
please i have an issue when i build my app i get the message  (Error listening on port 8090 Address already in use. Use server.failed(callback:) to handle
Program ended with exit code: 0) and the home screen for kitura it's not load

please how can i fix it

thanks a lot

[2017-12-11 10:56] seabaylea opened #1192 "Codable Routing for DELETE should return '204 No Content' on success"
Currently a successfully return from a `DELETE` action in Codable Routing results in `200 OK`. Best practices for REST are that this should return `204 No Content'.

[2017-12-11 10:59] seabaylea commented on #1191
The implication is that something on your machine is already using port 8090.

On a Mac, you can find out which process is using that port using:
[code]
which should give you the COMMAND (name) and the PID (process ID) of the process.

[2017-12-12 11:42] ddunn2 commented on #1192
Opened a [PR](https://github.com/IBM-Swift/Kitura/pull/1193) for this

[2017-12-12 18:29] #1192 closed

[2017-12-12 23:53] hactar opened #1194 "kitura init creates project with older kitura modules"
**Problem**
Running `kitura init` version 0.0.9 (which appears to be the newest version) creates a project that uses older kitura modules, such as kitura-net 1.7.20 instead of 2.0.0. There may be others too, but this one stood out to me as it still generates the warnings for characters being deprecated, which I assume have been resolved in 2.0.0.

**Expectations**
I'd expect `kitura init` to gener

[2017-12-13 09:37] tunniclm commented on #1194
We are working through some issues in dependencies that are preventing us moving up to Kitura-net `2.0.0` as it will cause problems with some common version ranges. Particularly we want to ensure that projects using SwiftMetrics will resolve dependencies properly when we make the move.

We are currently finalising testing of a compatible SwiftMetrics which will unblock this upgrade. Thanks for you

[2017-12-13 10:29] tunniclm commented on #1188
@ddunn2 I think this issue is solved by https://github.com/IBM-Swift/Kitura/pull/1190

[2017-12-13 11:28] ddunn2 commented on #1188
@tunniclm I'll have a read through of the item you've linked, thanks! :)

[2017-12-13 12:14] Hamza-Almass commented on #1191
thank you very much i will check it

[2017-12-13 15:05] rolivieri commented on #1188
@ddunn2 @tunniclm Yes, @sandmman noticed this while implementing the two new proposals and has added code to address this issue.

[2017-12-13 19:24] christiancompton commented on #1069
Closing as complete.

[2017-12-13 19:24] #1069 closed

[2017-12-13 19:32] christiancompton commented on #22
Closing - Reopen as needed.

[2017-12-13 19:32] #22 closed

[2017-12-13 19:33] christiancompton commented on #99
Closing - Reopen as needed.

[2017-12-13 19:33] #99 closed

[2017-12-13 19:35] christiancompton commented on #122
Closing, per comment above.  Reopen as needed.

[2017-12-13 19:35] #122 closed

[2017-12-13 19:35] christiancompton commented on #255
Closing - no context.

[2017-12-13 19:35] #255 closed

[2017-12-13 19:36] christiancompton commented on #356
Closing as complete.

[2017-12-13 19:36] #356 closed

[2017-12-13 19:37] christiancompton commented on #276
Closing - Reopen as needed.

[2017-12-13 19:37] #276 closed

[2017-12-13 19:38] christiancompton commented on #422
Closing - no longer relevant.

[2017-12-13 19:38] #422 closed

[2017-12-13 19:39] christiancompton commented on #372
Closing - Reopen as needed.

[2017-12-13 19:39] #372 closed

[2017-12-13 19:40] christiancompton commented on #298
Closing - reopen as needed.

[2017-12-13 19:40] #298 closed

[2017-12-13 19:40] christiancompton commented on #371
Closing as complete.

[2017-12-13 19:40] #371 closed

[2017-12-13 19:41] christiancompton commented on #297
Closing as no longer relevant.

[2017-12-13 19:41] #297 closed

[2017-12-13 19:42] christiancompton commented on #48
Closing - no longer relevant.

[2017-12-13 19:42] #48 closed

[2017-12-13 19:59] christiancompton commented on #266
Closing, reopen as needed.

[2017-12-13 19:59] #266 closed

[2017-12-13 20:01] christiancompton commented on #620
Closing, reopen as needed.

[2017-12-13 20:01] #620 closed

[2017-12-13 20:10] christiancompton commented on #662
Closing, reopen as needed.

[2017-12-13 20:10] #662 closed

[2017-12-13 20:11] christiancompton commented on #566
Closing, reopen if needed.

[2017-12-13 20:11] #566 closed

[2017-12-13 20:13] christiancompton commented on #506
Closing as complete.

[2017-12-13 20:13] #506 closed

[2017-12-13 20:18] christiancompton commented on #1017
Closing, reopen if needed.

[2017-12-13 20:18] #1017 closed

[2017-12-13 20:32] christiancompton commented on #1127
@portergoh I am closing this issue, please reopen if one of the recent versions still causes these problems.

[2017-12-13 20:32] #1127 closed

[2017-12-13 20:36] christiancompton commented on #1070
Closing this as complete - please let us know if this is still a problem @svanimpe.

[2017-12-13 20:36] #1070 closed

[2017-12-13 22:16] hactar commented on #1194
Ah yes, I see, kitura 2.0 still depends on kitura-net 1.7. Ok, not an init issue then, closing.

[2017-12-13 22:16] #1194 closed

[2017-12-14 05:53] Hamza-Almass opened #1196 "problem with stencil tags"
hello ,

please can anyone help me about when i use the stencil tag in file.stencil which include tags html

when i write tags stencil like {% if name  %} , {{ name|capitalize }}
, {% for person in persons %} , {% include "footer.stencil" %} all theses tags not working
so what can i do to fix this problem please

Thanks a lot

[2017-12-15 10:44] flangel opened #1197 "Block-scoped declarations (let, const, function, class) not yet supported outside strict"
I am getting the following error when running **kitura init**

flx:kit2 flangel$ kitura init
/usr/local/Cellar/kitura/0.0.9/libexec/lib/node_modules/kitura-cli/kitura-init.js:6
let args = process.argv.slice(2);
^^^

SyntaxError: Block-scoped declarations (let, const, function, class) not yet supported outside strict mode
    at exports.runInThisContext (vm.js:53:16)
    at Module._compile (module.

[2017-12-15 10:45] flangel commented on #1197
flx:kit2 flangel$ brew upgrade nodejs
Error: nodejs 9.3.0_1 already installed
flx:kit2 flangel$

[2017-12-15 11:13] flangel commented on #1197
Hi, I had the latest nodejs, but my link was to much older version of nodejs. Installing fresh using installer from nodejs website solved the issue.

[2017-12-15 11:13] #1197 closed

[2017-12-18 13:34] christiancompton commented on #1188
Reassigning to @sandmman, to be closed once this aspect of #1190 is complete.

[2017-12-19 09:28] sjanuary opened #1200 "Build errors with Kitura 2.1.2"
I'm seeing build errors building SwiftMetrics against Kitura 2.1.2.  I don't see these with 2.1.0.  Running Swift 4.0.0 RELEASE on Linux.
[code]

[2017-12-19 09:29] sjanuary commented on #1200
Also failing CI: https://travis-ci.org/RuntimeTools/SwiftMetrics/jobs/318522014

[2017-12-20 10:46] carlhung commented on #1200
I've encountered some strange errors. every time different error on linux or Mac when downloading the packages and installing the packages.

I feel the errors I encountered that relate to this issue.

[2017-12-20 11:25] #1200 closed

[2017-12-20 11:54] tunniclm commented on #1200
@carlhung As I understand it the error in this issue is specific to Linux, Kitura 2.1.2 and Swift 4.0.0 (possibly Swift 4.0.1 also). I don't think it should be intermittent nor should it be different from compile to compile.

If you are seeing errors like that can you open a separate issue and describe them in more detail? Thanks!

[2017-12-20 11:55] sjanuary commented on #1200
SwiftMetrics builds passing again, thanks @tunniclm for the quick turnaround.

[2017-12-25 13:57] krzyzanowskim opened #1203 "localhost sent an invalid response: ERR_SSL_PROTOCOL_ERROR"
Hi,

I'm trying to setup SSL on macOS with a self signed certificate. I follow the https://developer.ibm.com/swift/2016/09/22/securing-kitura-part-1-enabling-ssltls-on-your-swift-server/ and http://www.kitura.io/en/resources/tutorials/ssl.html (this one is rather for Linux though) tutorials and I end up with this error whenever I try to open the site with the local browser (Tried Safari and Chrome

[2017-12-25 16:15] krzyzanowskim commented on #1203
And the finding:
- Reboot machine
- Run (Works!)
- Do any change
- Build
- Run (💥 doesn't work)
- Reboot
- etc...

I'm using Xcode to build and run.

[2017-12-25 16:15] wwojdanowski commented on #1203
Recently I did the Mac version of SSL setup and it worked for me:

`let mySSLConfig = SSLConfig(withChainFilePath: "/tmp/cert.pfx", withPassword: "p4ssw#rd", usingSelfSignedCerts: true)`
        `Kitura.addHTTPServer(onPort: cloudEnv.port, with: router, withSSL: mySSLConfig)`
        `Kitura.run()`

[2017-12-25 16:24] krzyzanowskim commented on #1203
What do I can say, I have the same setup, and it works sometimes, but rather not:
![screenflow](https://user-images.githubusercontent.com/758033/34341460-56760306-e998-11e7-9a4d-ab5d64fdbb30.gif)

[2017-12-25 16:45] krzyzanowskim commented on #1203
It looks like Xcode the build phase is an issue. I managed to record the issue. It works fine with manual build, but not with the Xcode build

Step to reproduce
1. Initialize new Kitura repo with custom SSL certificate
1. run `swift build`
1. run server `.build/debug/KituraExample`
Status: SSL is working fine

1. Open Xcode project
1. Do any change like add `print("yolo")`
1. Press cmd+r (Build)

[2017-12-25 21:50] krzyzanowskim commented on #1203
Let me discuss the issue a bit. The error codes I get are:
- -9810 aka **errSSLInternal**
- -9836 aka **errSSLPeerProtocolVersion**

Ref: https://developer.apple.com/documentation/security/1503828-secure_transport_result_codes?language=objc

[code]

this is from `SSLHandshake` call. I tried but didn't come with any good solution for that.

I managed to have a workaround, but it's very ugly. Turns

[2017-12-26 22:38] svenyonson commented on #350
Sorry for the newbie question - can the kitura framework be integrated into an app that also contains the client side, e.g. UIWebView? If so, are there any examples of this?

[2017-12-27 09:43] seabaylea commented on #350
Hi @svenyonson. There’s a blog article on using Kitura on iOS here:
https://developer.ibm.com/swift/2017/03/13/kitura-ios/

[2017-12-27 09:47] seabaylea commented on #1203
@gtaban @KyeMaloy97 can you take a look?

[2017-12-27 16:56] KyeMaloy97 commented on #1203
@seabaylea sure thing, @ShihabMehboob also has some experience with SSL certificates as well, so he might have an insight too.

[2017-12-30 12:04] tunniclm commented on #1172
The PR for single object get was merged (https://github.com/IBM-Swift/Kitura/pull/1176) and went into Kitura `2.1.0`

[2017-12-30 16:02] bduisenov commented on #963
@djones any chance to see an implementation using [zero copy](https://en.wikipedia.org/wiki/Zero-copy)?

[2017-12-30 19:37] djones commented on #963
Wrong @djones here. It's @djones6 @bduisenov 😄

[2018-01-04 22:28] StasIsLovE opened #1204 "Issues with BluemixAppID and Kitura 2.1.3"
Adding:

`.package(url: "https://github.com/ibm-cloud-security/appid-serversdk-swift.git", .upToNextMinor(from: "2.0.0"))`

as a dependency results in following error during the update:

I thought first that it was something with sub-dependencies of AppID, but as far as I could see it should use CommonCrypto 0.1.5, as does Kitura 2.1.3 when AppID is not added, but together somehow CommonCrypto 0.1

[2018-01-05 09:17] jkmathew opened #1205 "Error initializing client connection from Error code: -9806(0x-264E), ERROR: SSLHandshake, code: -9806, reason: errSSLClosedAbort"
I am trying to setup SSL enabled web app for OTA(Over The Air installation for iOS applications) in my local network. I am referring tutorial from here http://www.kitura.io/en/resources/tutorials/ssl.html.

One of my HTML page looks like,
[code]
This page is loading fine and I am able to click on `Install certificate` button and ale to install the certificate in my mobile device. But when I click

[2018-01-05 09:59] tunniclm commented on #1204
@StasIsLovE Yes, unfortunately we have not yet updated the Swift appid SDK for Kitura 2.1.0. I am in the process of dealing with this right now (this and the Object Storage SDK and Push Notifications SDK are the last one's that I am aware of that need updating.)

[2018-01-05 12:19] StasIsLovE commented on #1204
I did't understand what was happening because all the dependencies seemed right. Thanks for the answer.

[2018-01-05 12:19] #1204 closed

[2018-01-05 12:34] tunniclm commented on #1204
PR open against AppID SDK here: https://github.com/ibm-cloud-security/appid-serversdk-swift/pull/33

[2018-01-07 10:10] vitalymibm commented on #1204
@tunniclm @StasIsLovE Merged to development and master, published release 2.0.1, thank you.

[2018-01-08 10:37] tunniclm commented on #1204
@vitalymibm Thanks!

[2018-01-09 09:28] vitalymibm commented on #1204
@tunniclm @stasislove The release is re-tagged as 3.0.0, because of breaking changes (per request from @sandmman).

[2018-01-15 15:47] seabaylea commented on #1205
@ShihabMehboob is this something you can help with?

[2018-01-16 09:45] CosmicYogi opened #1207 "KituraNet needed to be included to send custom response status even Kitura depends on Kitura-Net"
I was working on my project today and everything was working fine till a Saw a weird behavior.
I wanted to send custom `response codes` for few situations so I refactored the code and started to work on it.

There are 2 issues I faced -
1. You cannot send custom code without importing kituraNet and when you `Option + click` on it to get the info about it, It says declared in Kitura and nothing els

[2018-01-16 17:03] tunniclm commented on #1207
I'm not sure what you mean by custom status code, can you past an example?

It is true that `HTTPStatusCode` is defined in the `KituraNet` module and you must import the defining module to refer to a type directly. Often you can avoid this by not naming type and relying on type inference. (Example: `response.status(.OK)` does not require `KituraNet` to be imported but `response.status(HTTPStatusCo

[2018-01-16 17:06] tunniclm commented on #1207
It is unfortunate that `KituraNet` defines an `Error` type, and this conflicts with the one in `Swift`.
We should consider renaming it in a future major update, since it forces users of `KituraNet` to disambiguate the types with their module name (`KituraNet.Error` / `Swift.Error`) to use them.

[2018-01-17 03:30] CosmicYogi commented on #1207
Yeah, doing this the way `response.status(.OK)` worked without importing `KituraNet`. Thanks for the clarification.
It's good that it's working but I think it should be more clear I mean either it should be mentioned in the documentation so that programmers don't get confused while using it.
I also have a doubt I will PM you on Slack regarding it.

[2018-01-17 14:25] alexwishart opened #1209 "Only first parameter handler is executed for a given parameter"
If you register more than one handler to a parameter, e.g.
[code]
only the first handler is run.

[2018-01-17 14:34] alexwishart commented on #1209
Looks like parameters are being incorrectly removed in `RouterParameterWalker.swift` so when the `handle()` function is called again (which should allow for additional handlers to be called) the list of parameters is empty and `callback()` is executed prematurely.

[2018-01-22 16:52] drewmccormack opened #1212 "Slow memory leak"
I'm seeing a slow memory leak on a deployed Kitura server on Linux. At least, memory usage is rising during the course of the day very gradually. (Don't know if the same leak exists on the Mac.)

I'm not sure if the issue is Kitura itself, or my own code.

Couple of questions:

1. Is there a known leak in Kitura on Linux?
2. Is it possible to use Instruments with a Kitura server running on the Mac

[2018-01-22 17:29] christiancompton commented on #171
Closing, reopen if needed.

[2018-01-22 17:31] christiancompton commented on #691
Closing Per #889.

[2018-01-22 17:31] #691 closed

[2018-01-22 17:32] christiancompton commented on #633
Closing - reopen if needed.

[2018-01-22 17:32] #633 closed

[2018-01-22 17:35] christiancompton commented on #814
Closing - please reopen if needed.

[2018-01-22 17:35] #814 closed

[2018-01-23 14:58] drewmccormack commented on #1212
Would like to rule out silly retain cycles etc first, so testing on Mac is a good starting point. Do see leaks there. Managed to get it working in instruments, and this is the biggest leak (5KB per hit).

<img width="549" alt="screen shot 2018-01-23 at 15 56 47" src="https://user-images.githubusercontent.com/77312/35282620-354bf670-0056-11e8-9cd7-ebb17e50772f.png">

Don't think it is due to my cod

[2018-01-24 06:08] #1049 closed

[2018-01-24 06:09] #1056 closed

[2018-01-24 06:09] #1048 closed

[2018-01-24 06:10] christiancompton commented on #981
Closing - reopen if needed.

[2018-01-24 06:10] #981 closed

[2018-01-24 06:12] #915 closed

[2018-01-24 06:12] #914 closed

[2018-01-24 06:13] #797 closed

[2018-01-24 06:15] christiancompton commented on #948
Closing - reopen if needed.

[2018-01-24 06:15] #948 closed

[2018-01-24 06:16] #960 closed

[2018-01-24 06:17] christiancompton commented on #664
Closing - Reopen if needed.

[2018-01-24 06:17] #664 closed

[2018-01-24 06:18] christiancompton commented on #793
Closing - Reopen if needed.

[2018-01-24 06:18] #793 closed

[2018-01-24 06:19] christiancompton commented on #999
Closing - reopen if needed.

[2018-01-24 06:19] #999 closed

[2018-01-24 06:21] christiancompton commented on #974
Closing - reopen if needed.

[2018-01-24 06:21] #974 closed

[2018-01-24 06:21] christiancompton commented on #1050
Closing - reopen if needed.

[2018-01-24 06:21] #1050 closed

[2018-01-24 06:22] #1062 closed

[2018-01-24 06:24] christiancompton commented on #626
Closing - reopen if needed.

[2018-01-24 06:24] #626 closed

[2018-01-24 06:26] christiancompton commented on #1064
Closing - reopen as needed.

[2018-01-24 06:26] #1064 closed

[2018-01-24 06:28] #1154 closed

[2018-01-24 06:31] #1207 closed

[2018-01-24 06:32] #1191 closed

[2018-01-26 10:34] drewmccormack commented on #1212
Still haven't found issue. Will close this for now, unless I can find a concrete problem in Kitura.

[2018-01-26 10:34] #1212 closed

[2018-01-31 16:14] drewmccormack opened #1216 "Failure to call callbacks leading to memory leaks."
We have a Kitura server deployed, and have to restart it every 6 hours to stop it using excessive memory. It steadily climbs over time. Clearly a leak.

We thought it could be our code, so we have investigated with Instruments on the command line, using the Leaks instrument.

We were able to track down and fix some leaks, but they were not in our code, but in Kitura itself. In particular, there ar

[2018-01-31 16:25] seabaylea commented on #1216
Hi @drewmccormack. Thanks for the thorough write up! @djones6 can you investigate?

[2018-02-08 12:27] mattcolegate opened #1219 "Router.route does not honour paths with parameters"
## Context and Description
Using `Router.route` to specify a path with parameters in (e.g. "/user/:name") does not result in the parameter being made available to the underlying `.get()` function, unlike in Express.

### Environment Details
OS: Ubuntu 14.04
Swift version: 4.0.3 RELEASE
Kitura version: 2.2.0

### Steps to Reproduce
1) Run the following program
[code]

2) A call to http://localhost:

[2018-02-08 12:38] ianpartridge commented on #1219
Thanks for raising this.  We don't [document](https://ibm-swift.github.io/Kitura/Classes/Router.html) whether or not we support parameters in subrouters but as Express does support this it would be nice to in Kitura.

[2018-02-08 14:02] mattcolegate commented on #1219
Thanks for the doclink @ianpartridge - after carefully reading the `route` entry, it turns out that you don't support them **by default** https://ibm-swift.github.io/Kitura/Classes/Router.html#/s:6Kitura6RouterC5routeACSS_Sb15mergeParametersSb17allowPartialMatchtF

"_mergeParameters_: Specify if this router should have access to path parameters matched in its parent router. Defaults to `false`."

[2018-02-08 14:05] #1219 closed

[2018-02-08 14:11] ianpartridge commented on #1219
Is that the same behaviour as Express?

[2018-02-08 16:04] youming-lin commented on #1219
Yup, this option was specifically added to reach parity with ExpressJS in this one aspect: #818

[2018-02-08 16:16] ianpartridge commented on #1209
Can this be closed now? Looks like it was fixed in #1210

[2018-02-08 16:21] ianpartridge commented on #1188
Fixed in #1190

[2018-02-08 16:21] #1188 closed

[2018-02-08 16:22] ianpartridge commented on #1172
Type-safe query parameters were released in Kitura 2.2

[2018-02-08 16:22] #1172 closed

[2018-02-08 16:25] #1117 closed

[2018-02-08 16:26] ianpartridge commented on #1103
Hi @gmosx hopefully the example helped you. Please reopen if we can help any more.

[2018-02-08 16:26] #1103 closed

[2018-02-08 16:28] #1079 closed

[2018-02-08 16:59] ianpartridge commented on #1093
@djones6 is this still a problem?

[2018-02-14 10:38] alexwishart commented on #1209
Yep, closing now 🙂

[2018-02-14 10:38] #1209 closed

[2018-02-24 22:48] jhoughjr commented on #1149
I'm getting the Package.dependency has no member Package as well. git is in my system path and everything involving it works.

[2018-03-01 06:44] masaldana2 opened #1226 "getting started issue"
## Context and Description
i followed the short tutorial on
http://www.kitura.io/en/starter/gettingstarted.html

### Environment Details
Information about your OS, Swift version and Xcode version if on macOS.
Imac 2017, swift 4 , 9.2xcode, macOs 10.13.3 (17D102)

### Steps to Reproduce
1) ...Click run
2) ...
<img width="1127" alt="screen shot 2018-03-01 at 12 43 49 am" src="https://user-images.git

[2018-03-01 06:48] masaldana2 commented on #1226
NVM i had to choose my mac instead of iphone... duh
sorry

[2018-03-01 06:48] #1226 closed

[2018-03-02 00:54] hactar opened #1229 "Kitura Server on iOS Device"
## Context and Description
Is https://github.com/IBM-Swift/Kitura-HelloWorld-iOS really the simplest way to run Kitura as a server on an iOS device? Can no cocoapod be provided?

I'm currently looking for options, and while kitura would be my top choice as I love it on linux, it appears to be painful to add when compared with other options such as "swifter" or "embassy" which can be added by addin

[2018-03-02 01:41] seabaylea commented on #1229
It _should_ be possible to build a CocoaPod using the output on the Builder/Makefile script and either publish that or store it in a separate branch.

[2018-03-02 19:28] tunniclm commented on #791
@ianpartridge Just bumping this issue now we have https://github.com/IBM-Swift/Swift-Kuery-ORM

[2018-03-09 08:33] nethraravindran commented on #1216
@drewmccormack Thanks for the write up. With your suggestions, I have created a local branch.

https://github.com/nethraravindran/Kitura/tree/router-memoryleak

With this, I could observe the same minimal amount of leak. I request you to test once and check if the leak still persists. Also it would be great if you could give us the scenario to produce a considerable amount of leak. Thanks!

[2018-03-12 09:24] Keno42 opened #1233 "Cannot use the `CodableClosure` after `readString()` because of its side effect"
## Context and Description
Current architecture with middleware cannot be easily used to implement `auth-int` type of verification (which requires to read the request body) because we can use `readString()` only once to read the stream.

Neither `BodyPerser` nor `CodableClosure` cannot be used because both of them need the stream.

### Environment Details
MacOS Sierra 10.12.6

Apple Swift version

[2018-03-12 12:47] drewmccormack commented on #1216
Thanks for looking into this. These fixes seem to work.

I was only seeing a small memory leak per request. I traced this to a NSMutableData object that I was generating myself if custom credentials handler, and attaching to each request. It was being leaked because the request was not being released properly. Over thousands of requests, this added up to hundred's of MB.

I think this fix should h

[2018-03-12 13:01] ianpartridge commented on #1216
I think you missed out the extra calls to `callback()` in `Router.process()` @nethraravindran

[2018-03-12 13:40] nethraravindran commented on #1216
@ianpartridge Thanks! Have worked on the change.

[2018-03-12 15:25] seabaylea commented on #1233
The fundamental issue here is that any read of the body data is a "read once", ie. it removes the data from the request - so any read in a middleware means the data is not available in the route handler.

There's two ways that middleware might want to modify the body data:
1. Apply a transform
This could be done by enabling the middleware to add a closure that is run as the route handlers read the

[2018-03-15 10:31] papierschiff opened #1235 "CodableClosure should use Decodable -> Encodable"
## Context and Description
At the moment the CodableClosure forces the users that the request-object and the response-object is Codable. So if the response is only Encodable, it is not possible to use the Codable-Route.

### Environment Details
MacOS 10.13.3 (17D102)

Apple Swift version 4.0.3 (swiftlang-900.0.74.1 clang-900.0.39.2)
XCode Version 9.2 (9C40b)
Kitora Version 2.2.0

### Steps to Repr

[2018-03-16 11:31] ianpartridge commented on #1235
I think this is a reasonable request but wouldn't it be a breaking API change? In other words, wouldn't it have to wait for Kitura 3?

[2018-03-19 10:48] djones6 commented on #1235
I'm not entirely convinced this would be breaking: the Codable functions of the Router class are public but the class itself is not `open`.  If it were open, you'd have a problem of Router subclasses no longer overriding the same function signatures, but that's currently not possible (outside of the Kitura package itself).

From a regular Kitura user's perspective, since Encodable and Decodable ar

[2018-03-19 15:00] seabaylea commented on #1235
Yes, this is actually a loosing of requirement so shouldn't be a breaking change - which means we can deliver under a semver minor.

[2018-03-23 14:44] drewmccormack opened #1239 "Delegate properties should be weak to prevent memory leaks"
## Context and Description

I have encountered three places in the Kitura + frameworks code that have delegates that are not weak. In general, delegates should be weak, or there is a good chance that a retain cycle will arise, because the owning object is often also the delegate.

I have seen the memory in my app increase gradually through the day, requiring periodic restarts. A retain cycle due t

[2018-03-30 11:15] Coeur opened #1241 "How to receive a JSON array (like [Any]) in Kitura 2?"
## Context and Description
Moving from Kitura 1.7 to Kitura 2, `ParseBody.json(JSON)` was [replaced](https://github.com/IBM-Swift/Kitura/commit/edbd229ba8b99db936bc552c8e4f8e190a6dc633) with `ParseBody.json([String: Any])`, which can't match to an array `[Any]`.

So how do I parse a JSON response body which is, for instance, of the form `[String]`?

See the specs on "application/json": https://www

[2018-03-30 11:36] Coeur commented on #1241
Nevermind, I found a workaround by parsing the raw data to JSON myself. So instead of:

    case let .json(jsonBody) = parsedBody,
             let batch = jsonBody.array

I now use:

    case let .raw(rawBody) = parsedBody,
             let batch = JSON(data: rawBody).array

[2018-04-05 16:54] nodeful commented on #1229
I also would like Kitura to be available through CocoaPods as I need to run in as part of my client-side macOS app

[2018-04-11 09:35] ianpartridge commented on #1235
@papierschiff we have some draft PRs up to resolve this - can you take a look and confirm this is what you had in mind? Thanks!

[2018-04-11 16:07] ianpartridge commented on #1241
Glad you found a workaround, thanks.

[2018-04-11 16:07] #1241 closed

[2018-04-11 22:53] jamesrp13 opened #1244 "SSLHandshake Internal Error"
## Context and Description
I am trying to run an HTTP server with SSL, but when I configure the SSL with my self-signed certificate and run the executable, the SSLHandshake in SSLService.swift, line 1210, fails with status code -9810, which is Internal Error. No further information.

Running the executable on other machines appears to work most of the time, but never on mine.

### Environment Deta

[2018-04-12 10:10] ianpartridge commented on #791
As Mike says, we now have https://github.com/IBM-Swift/Swift-Kuery-ORM which is under active development so I'm closing this issue.

[2018-04-12 10:10] #791 closed

[2018-04-12 10:15] ianpartridge commented on #1239
Hi Drew, while it is common for delegates to be weak, it's not a requirement - it depends on how the code is designed in each case.  For the ones you have identified I have reviewed and do not believe these are the cause of any leaks.

If you have examples of retain cycles in Kitura (e.g. found through Instruments) _please_ let us know and we will investigate urgently.

[2018-04-12 10:15] #1239 closed

[2018-04-12 10:16] ianpartridge commented on #1229
@ShihabMehboob has been investigating this and will provide some details of our current thoughts soon.

[2018-04-12 10:17] ianpartridge commented on #1233
@nhardman has been investigating this and will provide an update on our analysis.

[2018-04-12 10:17] ianpartridge commented on #1216
This was fixed in https://github.com/IBM-Swift/Kitura/pull/1232 :)

[2018-04-12 10:17] #1216 closed

[2018-04-12 10:19] ianpartridge commented on #1086
Our current plan is for HTTP/2 support to come via https://github.com/apple/swift-nio (when it's available) so I'm closing this for now.

[2018-04-12 10:19] #1086 closed

[2018-04-12 10:19] ianpartridge commented on #1096
Our current plan is for HTTP/2 support to come via https://github.com/apple/swift-nio (when it's available) so I'm closing this for now.

[2018-04-12 10:19] #1096 closed

[2018-04-12 10:25] ianpartridge commented on #1205
Sorry for the delay in replying - are you still investigating this problem. Please reopen if you would like some help.

[2018-04-12 10:25] #1205 closed

[2018-04-12 10:26] ianpartridge commented on #1021
As of Kitura 2 we no longer use SwiftyJSON so I'm closing this issue.  Thank you for reporting it.

[2018-04-12 10:26] #1021 closed

[2018-04-12 10:27] ianpartridge commented on #1041
Closing as our performance work is currently focussed towards NIO.

[2018-04-12 10:27] #1041 closed

[2018-04-12 10:27] ianpartridge commented on #1004
Closing as no longer in our plans.

[2018-04-12 10:27] #1004 closed

[2018-04-12 10:28] #992 closed

[2018-04-12 10:28] #1065 closed

[2018-04-12 10:31] ianpartridge commented on #1032
As far as I'm aware this should work. Please reopen if you are still seeing this problem.

[2018-04-12 10:31] #1032 closed

[2018-04-12 10:52] ShihabMehboob commented on #1229
Hey!

You, along with many users on the public forums had expressed a desire for a standalone [Kitura](https://github.com/IBM-Swift/Kitura) Pod which could be added simply into their existing iOS projects in their Pod files via one simple line (e.g. `pod 'Kitura', '~> 1.0'`), which would substantially simplify the setup process on the user's end, eliminating the need for juggling around with messy

[2018-04-12 10:53] ianpartridge commented on #937
Jazzy has now been fixed so I think this is worth pursuing, for the usecase of `StaticFileServer`.  Assigning to @Andrew-Lees11 to tweak these access modifiers.

[2018-04-13 11:42] saiHemak opened #1247 "Kitura does not support the usage of Queryparameters with SimpleCodable type"
## Context and Description
At the moment the router handler forces the users to use the CodableArrayResultClosure type only. Compilation fails if the  application is expecting a Simple Codable type with QueryParameters.

### Environment Details
MacOS 10.13.3 (17D102)

Apple Swift version 4.1 Release 2018-03-29
XCode Version 9.2 (9C40b)
Kitura Version 2.2.0

### Steps to Reproduce
1)  create a coda

[2018-04-13 16:39] ddunn2 commented on #1229
@hactar You are correct, after a discussion we've decided to continue to go ahead with this.

@ShihabMehboob and I are currently looking into it, and hope to have something in place soon!

[2018-04-14 11:06] hactar commented on #1247
This is also being discussed here:

https://github.com/IBM-Swift/evolution/issues/7

[2018-04-14 11:46] hactar opened #1249 "CodableRouter: unprocessableEntity should return the error to client"
## Context and Description
CodableRouter decodes JSON into a Codable object. If a client posts/gets/whatever a JSON object missing a required parameter, the CodableRouter correctly returns a 422 unprocessable entity and the current unreleased version even logs that to the server.

The person coding the client may not have access to the server logs however, and so it would be great if kitura would

[2018-04-14 19:44] ianpartridge commented on #1249
What do you think @seabaylea?

[2018-04-15 17:17] linxyfe opened #1251 "BodyParser Does Not Produce JSON"
## Context and Description
As I try to access the request's body info with ParsedBody, json feature seem to be missing.

### Environment Details
Swift 4.0.3 on Ubuntu 16.04
[code]
### Steps to Reproduce
Codes for setup:
[code]

Codes for route handler:
[code]

Command on bash:
swift build

### Expected vs. Actual Behaviour
- Expected to happen...
build success
- Actually happened...
[code]

[2018-04-16 00:44] NocturnalSolutions commented on #1251
The code you provided for your route handler above does not match what seemed to be used to generate that error. The latter has that `.string` bit which, yes, does not exist for an Any object.

What you're probably looking for is along the lines of:

[code]

[2018-04-16 07:43] ianpartridge commented on #1251
Thanks for helping out @NocturnalSolutions :-)  I'll close this for now as your answer is correct.

@linxyfe _please_ reopen this if you still have problems.

[2018-04-16 07:43] #1251 closed

[2018-04-16 08:49] seabaylea commented on #1249
Yes - we should be providing better error messages for .unprocessableEntity. We also need to make sure that we don't leak internal information (i.e. expose information on internals that could potentially enable a security attack).

This means we should probably process the DecodingError (documented here):
    https://developer.apple.com/documentation/swift/decodingerror
rather than just dumping it

[2018-04-16 09:04] ianpartridge commented on #1249
Sounds good.  @hactar would you be interested in opening a PR to improve this?

[2018-04-16 09:25] hactar commented on #1249
I can take a stab at it - I'd write some code to produce a human readable error string based on the DecodingError.  Typical produced error messages would be:

- JSON did not contain the required key "title".
- JSON did not contain a value for the key "title".
- The key "title" was not of the expected type "String".
- The data you sent could not be decoded as JSON.

I'd then return it like so: `req

[2018-04-16 09:28] ianpartridge commented on #1249
Sounds perfect - thanks!

[2018-04-16 11:04] linxyfe commented on #1251
@NocturnalSolutions thanks for your reply, but the above code inside the router handler is copied from  official tutorial here: http://www.kitura.io/en/resources/tutorials/parsingrequests.html
Doesn't it mean ".string" is a build in feature of ParsedBody ?
I even tried to embrace SwiftyJSON, still doesn't work for me😂, I don't know what's going on any more.

[2018-04-16 12:54] ianpartridge commented on #1251
I'm sorry, there was a mistake in the tutorial.  I've just updated it.

The correct line is:

[code]

[2018-04-16 12:55] ianpartridge commented on #1251
By the way, if you just want to process some POSTed JSON, you might find Codable Routing to be a good solution.  Define a `Codable` struct and avoid all the type-casting in the above code.

http://www.kitura.io/en/resources/tutorials/codablerouting.html

[2018-04-16 13:41] linxyfe commented on #1251
OK,thx, I will check it out. Hope it would help, type-casting is really unsafe.

[2018-04-17 10:49] ianpartridge commented on #937
Fixed in #1245

[2018-04-17 10:49] #937 closed

[2018-04-26 14:49] hactar commented on #1249
PR is in, passes (updated) tests.

[2018-04-30 07:06] svanimpe opened #1261 "Codable forms: parsing non-String values"
## Context and Description

I am trying to replace manual form parsing with Codable forms. However, the behavior when dealing with empty values is not as I would expect it.

### Environment Details

Kitura 2.3
Xcode 9.3

### Steps to Reproduce

Codable type:

[code]

Form sent: `address=&city=&country=&latitude=&longitude=`

These are all `<input>`s for which a value was never set.

### Expected v

[2018-04-30 13:44] Andrew-Lees11 commented on #1261
Hello Steven

Thank you for raising this issue and providing so much detail.

When we receive a String such as "address=&city=&country=&latitude=&longitude=" we process the = as being an empty string "". Since longitude and latitude are supposed to be doubles this causes the unprocessableEntity error to be thrown.

To get a nil value for an optional field using the Query decoder the inputs need to

[2018-04-30 14:51] svanimpe commented on #1261
Hi Andrew,

I am using a simple HTML form with a POST action. The String `address=&city=&country=&latitude=&longitude=` is what is generated when the form is submitted.

I'm not sure I can remove fields from this string without removing the corresponding `<input>` tags. I don't think the latter is common practice, as most people simply clear an input's value, instead of removing the tags.

FYI: My

[2018-04-30 15:38] Andrew-Lees11 commented on #1261
So we have looked into having the decoder turn the empty string to nil for non strings, and having the result be nil if the decoding fails for any reasons and felt these seems like inconsistent behavior for different types.

Since HTML Forms treat "" as nil we agree that we should also  treat this as nil when decoding to a Swift type.

What this would mean is that "" is not acceptable for a non op

[2018-04-30 16:45] svanimpe commented on #1261
If I understand you correctly, the behavior will then become:

- Key not included in the form string -> nil
- Key included, but no value specified -> nil
- Value specified, but not of the correct type -> error

If so, +1 from me. That would fit great with my use case. I don't use codable forms with codable handlers, but instead use the `read(as:)` method in a regular handler:

[code]

With the new

[2018-04-30 16:55] Andrew-Lees11 commented on #1261
Yes that is the behavior we are looking to implement. A pull request with the change to implement this is [here](https://github.com/IBM-Swift/Kitura/pull/1262).

[2018-05-04 10:57] mman opened #1265 "Kitura leaking memory as crazy"
## Context and Description

I have created a simple HTTP based Kitura server with Basic Auth and put it under load. With every request it allocates memory that is never reclaimed back. Can be easily tracked using Xcode malloc debugger or Leaks Instrument. Happens on both Linux with swift 4.0.3/4.1 as well as on macOS 10.13.4 with Xcode 9.2 (swift 4.0.3) and Xcode 9.3 (swift 4.1).

Looks like ``Rou

[2018-05-04 12:29] mman commented on #1265
This is the config that appears to be memory stable on both swift 4 and swift 4.1

[code]

[2018-05-08 15:50] twobitunicorn commented on #593
Hi.  Following this line of discussion: what should the call `request.body` return?  I have yet to see this to be anything but nil when dealing with POST requests.

[2018-05-08 16:00] ianpartridge commented on #593
Are you using Codable routing or the "request, response, next" style routes? Are you using the bodyparser middleware and if so, which routes is it attached to?

[2018-05-10 08:32] djones6 commented on #1235
FYI, this has been merged into master, and will be tagged in the next minor release of Kitura.

[2018-05-15 10:55] djones6 commented on #1249
FYI, #1256 has been merged and will be tagged in the next minor of Kitura.

[2018-05-15 10:55] #1249 closed

[2018-05-16 12:50] djones6 commented on #1235
Unfortunately, this makes the types declared on Codable routes incompatible with the TypeDecoder (which relies on the ability to introspect a type via Decodable), so we have had to back it out for now.  I'm reopening this issue.

[2018-05-21 09:39] svanimpe opened #1271 "Inappropriate error code when reading a request body fails"
## Context and Description

In the following example, when reading the `Message` fails due to a misspelled property, Kitura returns a 404 response:

[code]

Is it possible to return something more informative, like 400 or 422? A 404 is really confusing here, as the route does exists.

I currently use the following workaround:

[code]

### Environment Details

Kitura 2.3, Swift 4.1 on macOS.

[2018-05-21 11:49] ianpartridge commented on #1271
@Andrew-Lees11 could you comment on this?

@svanimpe my immediate reaction is that your workaround is actually the recommended way to do this. 404 is the default error response from "request, response next" routes in Kitura - if you want to change this you can either set `response.status()` in your route, or inside a `router.error()` handler.

[2018-05-21 12:25] Andrew-Lees11 commented on #1271
@svanimpe
I agree with Ian that your current handling of the error is the correct way to set the response status.
When you call the read(as:) function it doesn't have access to the response and so cannot set the error.
The uncaught throw is then handled by the "request, response next" route and defaults to 404.

[2018-05-21 13:17] svanimpe commented on #1271
Ah, I guess I assumed the error contained information based on which the handler could choose an appropriate code.

Isn't that what happens with codable routes, where you return an error in the completion handler?

[2018-05-23 21:13] twobitunicorn commented on #593
Hi @ianpartridge.  Here is a chunk of code:
[code]

What should this print for request.body?  The documentation states that this will be nil until some parsing has been in place.  But then, the body is not nil if there is one provided, just not parsed.  I think this maybe where the confusion comes from.  What do you think?  And thanks for getting back!

[2018-05-24 08:41] ianpartridge commented on #593
Hi @twobitunicorn you need to attach a `BodyParser` middleware to your route. Have a look at https://www.kitura.io/en/guides/parsingrequests.html - in the section "Parsing JSON Posts". The same principle applies for non-JSON body data too.

[2018-05-24 14:55] drewmccormack commented on #1216
To completely close this out, today I deployed the latest Kitura release on our production server, and there appears to be no memory leaked anymore, which is great. Thanks for fixing it!

[2018-05-24 15:06] ianpartridge commented on #1216
Great, thanks for letting us know.

[2018-05-30 18:17] rajeshm20 commented on #950
Had the same issue..I just select the scheme as HelloKitura instead of default HelloKitura-Package as per IBM Kitura documentation. Run successfully. Thanks.!
![screen shot 2018-05-30 at 11 17 00 am](https://user-images.githubusercontent.com/8141399/40739449-15d81eb4-63fb-11e8-9bde-512cbfb79c48.png)

[2018-06-11 00:16] siilime commented on #900
Should this be moved to the appropriate project? It isn't specifically an issue with Kitura (even if the same can be said of Kitura).

[2018-06-11 00:20] siilime commented on #895
Now Kitura has moved to Swift NIO, HTTP2 support is trivial. This issue is becoming stagnant, so is someone willing to pick this up?

[2018-06-11 06:58] shmuelk commented on #900
At one time we managed all of the issues of the Kitura family of repositories in the Kitura repository, for better or worse.

[2018-06-12 15:29] giginet opened #1298 "Cannot set JSONDecoder on Codable router"
## Context and Description

I want to set `dateDecodingStrategy` to decode JSON on codable router.
However, using `JSONDecoder` is hardcoded. So I can't customize behaviors of decoders.

https://github.com/IBM-Swift/Kitura/blob/master/Sources/Kitura/RouterRequest.swift#L208

[code]

[code]

[2018-06-13 16:22] ianpartridge commented on #1298
Thank you for opening this, we are aware of this current limitation. Do you not have control over the JSON you want to POST, though?

[2018-06-14 17:57] twobitunicorn commented on #593
Hi @ianpartridge , thanks for putting this up.  The link is no longer valid.   I can't seem to find it on the Kitura website anywhere.  Any chance you know where it moved to?  Thanks!

[2018-06-14 18:11] twobitunicorn commented on #593
A small proposal for this thread: What would you think about having  `body` be a `Data` type so that people can unserialize as they want, for example
[code]
And refactor the current `body` to `parsedBody` with the same option of being `nil` if the body has not been parsed by the middleware?

[2018-06-14 18:33] ianpartridge commented on #593
We're still in the process of moving over all the guides to the new site. For now, here's a link to that guide from the old site: https://github.com/IBM-Swift/kitura.io/blob/2a2883f7354b29994ba237c74744311b1e6e0134/en/guides/parsingrequests.md

[2018-06-14 18:36] ianpartridge commented on #593
Your idea of `request.body` being a Data is interesting, but would be a breaking API change so couldn't be done during Kitura 2.x.

You can do something very similar already though:

[code]

[2018-06-14 18:53] twobitunicorn commented on #593
awesome, thanks!   Any thoughts on my question above?

[2018-06-14 19:03] ianpartridge commented on #593
I'm sorry, which question? 😁

Can you include a full code example?

[2018-06-14 22:46] twobitunicorn commented on #593
Hahha, sorry, we must have been typing at the same time!  😊 Yes, I see what you are saying now.  But even with
[code]
this will still be ```nil``` without a middleware parser as ```body``` will be ```nil```.  Another option maybe to have a default middleware parser that that sets the body to the ```Data``` type unless assigned another middleware parser.

Got this working for what I need.  Thanks a

[2018-06-19 10:54] diuming opened #1301 "Is it possible to integrate with google MDC web?"
as tilte
I don't want to use nodejs as my web server

[2018-06-21 08:58] svanimpe commented on #1298
+1 on this issue for me.

I'm parsing JSON from https://iam.bluemix.net/identity/token which returns an expiration date as a number of seconds since 1970. JSONEncoder/Decoder support this strategy, so it would be nice if I could just configure this and have that number converted to a Date.

[2018-06-22 09:22] jonathan-spruce opened #1302 "Application Metrics for Swift Documentation Outdated"
The documentation on the [Learn - Application Metrics for Swift](https://www.kitura.io/guides/building/metrics.html) page is currently outdated. SwiftMetrics is now already included when using `kitura init`, and adding the code as instructed starts a second SwiftMetrics instance leading to the dashboard displaying multiple versions of each metric (e.g. memory, cpu, etc.):
<img width="1248" alt="sc

[2018-06-22 09:42] #1302 closed

[2018-06-22 09:43] jonathan-spruce commented on #1302
Moving the issue to https://github.com/IBM-Swift/Kitura.io instead

[2018-06-23 02:47] NocturnalSolutions commented on #1301
From what I understand, Node isn't required so much for serving a site that uses MDC as it is for downloading and integrating MDC with a site you're building as you build it. So, no, Kitura cannot replace Node for that purpose.

[2018-07-05 15:11] dokun1 opened #1306 "KituraOpenAPI SDK Generation Gives Incorrect getAll Call"
## Context and Description
Incorrect SDK route generated by `kitura sdk --ios -l http://localhost:8080/openapi`

I am expecting an SDK call that can retrieve an array of objects, but the generated SDK call only gives me back one object (subsequently which is always nil in the strongly typed retVal)

### Environment Details
- macOS v10.13.4
- Xcode v9.4.1
- Swift v4.1.1
- Kitura v2.4.1
- KituraOpen

[2018-07-09 12:11] ianpartridge commented on #1298
@Andrew-Lees11 is going to look at fixing this.

[2018-07-09 13:22] djones6 opened #1307 "RouterResponse.send(String?) unexpected behaviour"
## Context and Description
When using 'raw' routing, `RouterResponse` provides two unlabelled `send()` functions:
1. [`send(_ str: String)`](https://github.com/IBM-Swift/Kitura/blob/2.4.1/Sources/Kitura/RouterResponse.swift#L210) that writes raw text to the response body
2. [`send<T : Encodable>(_ obj: T)`](https://github.com/IBM-Swift/Kitura/blob/2.4.1/Sources/Kitura/RouterResponse.swift#L497) th

[2018-07-09 13:40] ianpartridge commented on #1244
Hi @ShihabMehboob can you take a look at this please?

[2018-07-10 09:17] ShihabMehboob commented on #1244
@jamesrp13 Hey! I noticed that you're using a `.pfx` formatted certificate, according to the docs for [BlueSSLService](https://github.com/IBM-Swift/BlueSSLService), this should be in the `.pem` format.

[2018-07-11 07:47] ianpartridge commented on #1244
Good catch @ShihabMehboob. @jamesrp13 please reopen if you still need help.

[2018-07-11 07:47] #1244 closed

[2018-07-11 20:33] christiancompton commented on #1306
@ianpartridge I have reached out to the SDK generation team about this, and they think it has to do with the `kitura sdk` command.  Thoughts @dokun1?

[2018-07-12 09:24] #1301 closed

[2018-07-17 14:38] Andrew-Lees11 commented on #1298
A pull request to solve this issue has been raised [here](https://github.com/IBM-Swift/Kitura/pull/1309). This adds a dictionary of custom encoders and decoders which will be used for codable routes and so you have access you the JSON decoder if you wish to customize it.

[2018-07-25 21:39] claycrowell1956 opened #1311 "error: illegal UTF8 sequence output from swift build command"
## Context and Description
I am extremely new to Swift and have run into a couple of problems. I'm going to report them as two different issues so that there isn't any confusion about which issue we are discussing,

This issue is specifically about using the _swift build_ command.

[code]

This does appear to be related directly to the Package.swift file because I will get different messages if I

[2018-07-25 21:59] claycrowell1956 opened #1312 "main.swift:3:8: error: no such module 'Kitura'"
## Context and Description
I want to preface this issue by stating that I am new to Swift/Kitura and that I am attempting to rapidly prototype a restful API as a POC. My hope was that I could just take an existing working example and make a few changes to accomplish my goal. 4 days later, I'm still struggling to get off the ground. I don't want to have to learn all of the details of swift if I can

[2018-07-26 18:37] IgorTodorovskiIBM commented on #1311
@claycrowell1956, are you using the local Kitura repository or the one on github?   If you are using the local Kitura repository shipped with Swift on z/OS, then you will need to specify the KITURA_ROOT envar.  There is an example under `<install_dir>examples/zOSConnectWebService` along with a README.txt file that documents the steps.

You can also specify `swift build -v` to get a more detailed o

[2018-07-26 19:35] IgorTodorovskiIBM commented on #1312
@claycrowell1956 , the following article describes how to create a Swift on z/OS Kitura application: https://developer.ibm.com/swift/2018/07/06/using-swift-create-web-services-z-os/

You will need a Swift package and the environment variable to point to kitura source (KITURA_ROOT).

[2018-07-26 21:06] claycrowell1956 commented on #1311
Thanks, that definitely got me past the UTF8 issue. I'm curious though why the following lines in my Package.swift didn't cause me to fail. Obviously I overlooked several hints that KITURA_ROOT was required. For some reason, our installer didn't define this variable. Still don't understand why that resulted in a UTF8 error.

[code]

On a side note, it's apparent that the .package statements appear

[2018-07-27 02:10] IgorTodorovskiIBM commented on #1311
Yes, there is a git that is shipped with Swift on z/OS under the `<install_dir>`/bin.  git-upload-pack is also present there.

Swift Package Manager works with Git only for both local and remote repositories.

If you use type -a git, it should point to the Swift on z/OS git.  However, Rocket Git should also work.   Does git-upload-pack have the correct permissions and work on your system?

The UTF

[2018-07-27 21:21] claycrowell1956 commented on #1311
I have one final (hopefully) to overcome in the build.

Targets in my Package.swift:
[code]

Targets in IBM's Package.swift example from https://developer.ibm.com/swift/2018/07/06/using-swift-create-web-services-z-os/
[code]

Other than a missing comma after the last dependencies statement, they are identical with the exception of the names of the targets. So why am I getting the following error?

[2018-08-07 14:36] IgorTodorovskiIBM commented on #1311
Hi, at this point we do not plan on publically supporting the Git we provide with Swift on z/OS.  The reason we have provided it is because as far as we have seen, Rocket's Git does not support the https protocol and https is used throughout Swift packages.

Do you have a Tests/swift_sandbox_tests directory?

You should uncomment the following:
[code]
It is trying to find the dependencies based on

[2018-08-08 23:07] dsperling opened #1317 "Handling legacy JSON encoding with custom RouterMiddleware"
## Context and Description
I am integrating with a legacy system that POSTs JSON data.  The BodyParser.parse() function returns nil since the JSON data is encoded in 'windows-1252' instead of 'UTF-8'.  This is expected, but I cannot figure out how to write a custom BodyParser to work around the issue.

I would expect to be able to create a simple custom BodyParser that changes to Content-Type from

[2018-08-09 17:42] dsperling commented on #1317
Another thought.

The behavior of the system might be more useful if the JSONBodyParser returned raw data in the case of a JSON parse error.  This would allow developers to handle poorly formed JSON easier.

Here is a proposed code change in `JSONBodyParser.swift`:
[code]

[2018-08-17 08:00] saiHemak commented on #1203
@krzyzanowskim  Are you still seeing this issue ? I followed the above steps to recreate the issue and could not see the errors mentioned in the console.. Am I missing something ? or something to do with Xcode version ?

[2018-08-17 16:16] ianpartridge commented on #1317
Hi @Andrew-Lees11 can you take a look at this and comment please?

[2018-08-20 10:26] Andrew-Lees11 commented on #1317
Hello @dsperling
Since you are wanted a custom decoding I would recommend you don't use the bodyParser middleware. If you remove the middleware from the route, then you can get the raw data from the request with the following code:
[code]
This gives you the raw data inside `rawBody` which you can then process as you would like.

Although I agree that returning the raw data would probably be more u

[2018-08-22 18:53] svanimpe opened #1325 "Validate codables"
Most of my usages of codable forms are as follows:

[code]

I was wondering if it makes sense to formalise/generalise this:

- Add a `Validatable` protocol with an `isValid` property.
- When decoding a type that also conforms to `Validatable`, throw an error if the validation fails.

`request.read` already checks if the form's fields are of the correct type, so it makes sense to check the values a

[2018-08-22 21:31] ianpartridge commented on #1325
Thanks for your idea, it sounds interesting.  I'm wondering why you couldn't implement this solution in your app without it being part of Kitura?  You could define `Validatable` yourself and write a helper that you use inside your route handlers?

[2018-08-22 22:39] dsperling commented on #1317
Understood.  Agree that my PR would be a breaking change.

Your solution is straightforward, but I have one question.

Assuming I have 3 endpoints, and I want to remove the middleware from only one of them, is there a method to remove middleware on one of the 3 assuming global middleware was added like this:
[code]
Or is the recommend approach something like this:
[code]

[2018-08-23 08:30] svanimpe commented on #1325
I could and I probably will :) I was just wondering if this is general purpose enough to add to Kitura.

[2018-08-23 09:28] Andrew-Lees11 commented on #1317
no you can't remove middleware from just one route so you have to use the approach you suggested.  If you are parsing the body into a Codable object you can use `read(as: Codable)` to get the data as your codable type and avoid using the `BodyParser` all together.

[2018-08-23 09:53] ianpartridge commented on #1325
OK, let us know how the pattern works in practice. If it's generally useful we could certainly consider adding it to Kitura.

[2018-08-23 17:09] svanimpe commented on #1325
I gave this a try, and while it does work, I feel it's a bit too cumbersome to do on my end.

I used the following protocol and extension:

[code]

I have two issues here:

1. I had to create a new error type here, which doesn't really fit my application. In my application, errors are only used for internal server errors (things that should not happen). User errors are reported with a 400 Bad Requ

[2018-08-28 10:52] ianpartridge commented on #1325
Thanks for looking into this. I had another thought - as your `SomeForm` is `Decodable`, why not implement the validating logic in a [`init(from:)`](https://developer.apple.com/documentation/swift/decodable/2894081-init) method instead of letting the compiler synthesise it?

[2018-08-28 11:32] svanimpe commented on #1325
I was hoping to build a simple validation protocol/framework that could be used to validate anything that needs validation.

It would be nice if there was some declarative way to express validation constraints. Java, for example, has a Bean Validation API that lets you add validation annotations to domain types. Instances of these types can then be validated whenever validation is needed, such as

[2018-08-28 14:09] ianpartridge commented on #1325
@djones6 @Andrew-Lees11 please give your thoughts :-)

[2018-08-30 09:46] Andrew-Lees11 commented on #1325
So this sounds like a good idea. The point of read as and Codable routes is that you get the object you expect and if you have constraints beyond the type it makes sense for you to add that when you define your object. Normally you could add this to the init but because it is codable the init from decoder would be fairly complicated.

I assume in your implementation isValid would be a computed pro

[2018-08-30 12:15] svanimpe commented on #1325
Yes it was a computed property. I don't think it makes more sense as a function, as that would indicate the implementation can be quite complex (whereas computed properties should be simple in implementation).

Vapor's implementation is interesting too. It's definitely more powerful, but for simple use cases, it feels over engineered, making it hard to use.

[2018-08-31 08:47] Andrew-Lees11 commented on #1325
Ok I'm happy with it as a computed property. I think in most cases you are just going to be checking the value of your fields so having a computed property seems sufficient for this case. Would you like to raise a PR with your suggested change?

[2018-09-03 09:50] Andrew-Lees11 commented on #1298
This PR has been merged and tagged in Kitura 2.5. A blog post describing the new API's is [here](https://developer.ibm.com/swift/2018/09/01/kitura-custom-encoders-and-decoders/)

[2018-09-03 09:50] #1298 closed

[2018-09-03 21:53] broutok opened #1328 "library not found for -lssl.1.0.0"
## hi
i use xcode and when i make the debug for my program it make 1 errore

library not found for -lssl.1.0.0
but i don't know the library that i need to improve

in xcode i write only for mysql in remote for opening a databse

### Environment Details
i use
xcode 9.4.1
mac os sierra 10.13

[2018-09-04 09:59] djones6 commented on #1183
OpenAPI generation is available as of Kitura 2.4, and the SwaggerUI can be hosted by including the https://github.com/IBM-Swift/Kitura-OpenAPI dependency in your project.

See this blog post by @nhardman: https://developer.ibm.com/swift/2018/06/05/kitura-openapi/

@KingAndroid It would be great to get your feedback on this feature, and whether you have additional requirements beyond this.

[2018-09-05 21:43] claycrowell1956 commented on #1311
Igor,

I tried several combinations of versions of git (Rocket vs, IBM), and https (GitHub) vs. local repositories and have not had any luck at all. I'm starting to believe the installation is bad but I can't prove that.

Here are my results using your suggestion to use examples/zOSConnectWebService. I get the exact same error I get using my own. There appears to be a problem in extracting the var

[2018-09-06 15:30] #1312 closed

[2018-09-06 15:31] claycrowell1956 commented on #1312
KITURA_ROOT got me past some of my issues. I have another issue open for build related issues.

[2018-09-07 09:39] RahulKatariya opened #1329 "[StaticFileServer] Option to fall back to index.html on 404 not found"
## Context and Description
I am building an application with React and Browser Router. As it is a single page application, it requires to fall back to index.html on 404 not found.

**Note**: It works fine with the hash-based routing where URLs have `#` like `https://localhost:8080/#/index.html` but this type of routing doesn't use HTML5 history API and loses the state when navigating back and forw

[2018-09-11 20:08] CalebKussmaul opened #1332 "StaticFileServer not sending 304 Not Modified when local file has matching Etag"
## Context and Description
When a browser sends a conditional GET to a server, the server may respond with 304 NOT MODIFIED and the version of the resource in the browser's cache will be used instead. This allows a requested resource to only be sent when the version that the browser already has is out of date or does not exist. This is accomplished by the browser including the cached file's modifi

[2018-09-13 11:59] kilnerm commented on #1329
It appears the behavior requested is present on other run-times the provide file server capabilities.

We will need to add this functionality via a configuration option on the static file server so users can create file servers that exhibit this behavior.

[2018-09-17 16:27] djones6 commented on #1306
@dokun1 I believe I have just been working on a fix for this very issue: #1335
Could you try with that branch and see if it fixes this?

[2018-09-17 16:59] djones6 opened #1336 "Swagger generation does not handle Identifier return types"
## Context and Description
For routes that return an Identifier (either POST where the Location header is set, or GET which returns an array of (Identifier, Codable) tuples), the SwaggerGenerator misrepresents the identifier type as an input (path) parameter on the route.

### Steps to Reproduce
Examples of routes that exhibit this problem, using Swift-Kuery-ORM:
[code]

### Expected vs. Actual Be

[2018-09-18 17:22] weissi opened #1337 "KituraTests.TestCustomCoders testCustomQueryEncoder failure"
## Context and Description

Tests `KituraTests.TestCustomCoders testCustomQueryEncoder` failed

[code]

it seems to be a leading 0 that might or might not be there: `T9:` vs `T09:`

### Environment Details

- macOS 10.14
- Xcode 10
- with and without `export KITURA_NIO=1`

### Steps to Reproduce
1) check out current master (`bb19ec7ef8321082a234624cc76c11a17cd88971`)
2) `swift test`

### Expected

[2018-09-19 16:36] djones6 commented on #1325
@ianpartridge A reason to avoid validation during `init(from:)`: the TypeDecoder (used during Swagger generation) works by creating an instance using dummy values.  Validation during init would cause this to fail, or require a mechanism to provide your own (valid) dummy values.

@svanimpe Apologies being late to the party...

I think it makes a lot of sense for this to be a general purpose mechani

[2018-09-20 07:57] svanimpe commented on #1325
Personally, I'd prefer to stick to simple, synchronous, O(1) validations that can be done using only the properties of the form. From a design standpoint, I really wouldn't want a simple form type to require access to the database or some other service. If more complex validation is required, I do it in the route handler that uses the form. That handler already has access to these services.

[2018-09-24 09:19] djones6 commented on #1306
The fix was merged and tagged in Kitura `2.5.2`

[2018-09-24 13:56] dokun1 commented on #1306
@djones6 sorry I never got back - lots going on lately. Thanks for putting this in! I'll give this a test today.

[2018-09-24 18:41] dokun1 commented on #1306
Thank you @djones6 - works great now 👍

[2018-09-24 18:41] #1306 closed

[2018-09-26 15:54] djones6 commented on #1325
@ianpartridge and I discussed this.  Something we'd like to be able to do is to represent validations in the OpenAPI (swagger) specification that Kitura can generate for a REST API.

When your Codable route handler is registered with the router, the types declared in your handler are inspected by the TypeDecoder and expressed as definitions (models) within the swagger document.  We'd want to also

[2018-09-27 16:27] samding01 opened #1341 "Kitura build failed on Ubuntu18.04"
Build/test` Kitura (v2.4) ` with swift v4.2 on Ubuntu 18.04 gets following error:
[code]
The `openssl` version is
[code]
According the `Kitura Slack`, it seems that the OpenSSL v1.1 is not supported now. Please confirm.

By the way, `Kitura (v2.4) ` is successfully built and tested on` Ubuntu 16.04 `, on which OpenSSL version is v1.0.2g

### Environment Details
on both x86_64 and LinuxOne
Ubuntu 1

[2018-09-27 16:34] ianpartridge commented on #1341
Yes that's correct, currently `BlueSSLService` does not support OpenSSL 1.1

[2018-09-28 05:16] mamabusi commented on #1341
@djones6 worked around this to build Kitura successfully on 18_04. Here are the documented steps: https://gist.github.com/djones6/338aa7df92c3bdda831edefe5b24c040

[2018-09-29 19:48] thevojacek opened #1342 "Failing build under Linux (Ubuntu 14.04)"
## Context and Description
It is not possible to build an Kitura application under Linux using IBM`s Linux docker (Ubuntu 14.04 and Swift 4.2) when BlueSSLService is included alongside Kitura.

Interestingly enough, theres no problem on macOS, probably related to a fact that some of the Kitura packages uses OpenSSL only for Linux builds.

I found out that it might be related to a fact tha BlueSSLS

[2018-10-02 16:09] djones6 commented on #1342
Apologies, it turns out that the Swift 4.2 system library targets declared in different packages cannot have the same name (even though they are not exported).

I've reworked the dependencies in BlueSSLService, BlueCryptor and BlueRSA so that they revert to using the separate OpenSSL dependency, which has been updated to use a structure that Swift 4.2 supports.  This should resolve your issue.

[2018-10-02 19:54] thevojacek commented on #1342
Thanks for help. It is related to https://github.com/IBM-Swift/BlueSSLService/issues/58
It works after updating.

[2018-10-02 21:16] #1342 closed

[2018-10-11 04:18] JonKaleidoscope opened #1345 "Static File Server Unable To Serve Alternate Home Page"
## Context and Description
I am unable to serve an home page using the `StaticFileServer`
`localhost:8080/`

### Steps to Reproduce
1) Create alternate home page lets call it index2.html save it in `./public` of project folder
2) Register new route with new home page:
[code]
3) Go to top index home page index, ie `localhost:8080/`

### Expected vs. Actual Behaviour
- [ ] Expected `index2.html` pag

[2018-10-15 09:59] djones6 commented on #1337
@Andrew-Lees11 Looks like this test is fragile (possibly related to locale?), would be possible for the test to generate the expected string represenation rather than hard-code it?

[2018-10-15 10:02] djones6 commented on #1307
This was resolved by #1313 (Kitura 2.5.0)

[2018-10-15 10:02] #1307 closed

[2018-10-18 09:03] djones6 opened #1348 "Confusing error from Xcode / compiler when throwing from Codable handler"
## Context and Description
Codable route handlers respond (asynchronously) by invoking a completion handler with either a `Codable` response or a `RequestError`.  The handler is now allowed to `throw`.

In Raw routes, errors are allowed to be thrown, and will be logged at `.error` level.  Error handlers can be registered to run if a raw route has thrown and error.

If one tries to throw from a Cod

[2018-10-24 17:29] joekiller commented on #650
The Swiftruntime#27 link is dead. I found another patch here: https://github.com/IBM-Swift-Sunset/GRMustache.swift/pull/7/commits/56ecaf22ce9fdfc6ad5d3ec0b2a37f64bf513464

[2018-10-26 11:57] #1341 closed

[2018-10-29 05:57] arkeo01 opened #1352 "Error while building package in swift 4.2"
There is this following error while building a swift package with kitura dependency in it.

 BlueSignals/Sources/Signals/Signals.swift...
The Error is as follows:
111:36: error: converting non-escaping value to 'T' may allow it to escape
sigAction.__sigaction_handler = unsafeBitCast(action, to: sigaction.__Unnamed_union___sigaction_handler.self)
^

Following are the dependencies used...

`import P

[2018-10-29 12:08] ddunn2 commented on #1352
Hi @arkeo01

Thanks for raising an issue.

I've had a look into the issue you're having, one solution to your problem stated above is to pull in the latest version of Kitura:
`.package(url: "https://github.com/IBM-Swift/Kitura.git", from: Version("2.5.0")),`

Which should be being pulled in for you anyway...

However some of the packages you have in your `Package.swift` seem old/unmaintained and a

[2018-10-29 13:55] ddunn2 commented on #1345
Hey @JonKaleidoscope

Thanks for raising this issue and for doing some debugging around this issue.

[2018-11-08 10:21] ianpartridge commented on #362
Closing as this is no longer relevant.

[2018-11-08 10:21] #362 closed

[2018-11-12 09:43] pushkarnk opened #1356 "Poor performance of RouterResponse.send"
## Context and Description
In a recent performance study of Kitura (with Kitura-NIO), using a simple HelloWorld benchmark and flamegraphs, it was found that a considerable amount of time is being spent in [RouterResponse.send()](https://github.com/IBM-Swift/Kitura/blob/master/Sources/Kitura/RouterResponse.swift#L438), where most of the time in turn is spent in the call to `lengthOfBytes(using: .ut

[2018-11-12 09:45] pushkarnk commented on #1356
Discussed this with @ianpartridge and he pointed out that `lengthOfBytes` is defined on `NSString`. Invoking it on a `String` involved bridging which could be the reason for the slowdown.

[2018-11-13 14:13] djones6 commented on #993
Closing, as this has not reoccurred recently.  I suspect one of the concurrency fixes in the meantime has fixed this one.

[2018-11-13 14:13] #993 closed

[2018-11-13 14:45] weissi commented on #1337
@pushkarnk / @Andrew-Lees11 I'm still seeing this continuously

[2018-11-13 16:16] Andrew-Lees11 commented on #1337
@weissi Hey
We have a pull request [here](https://github.com/IBM-Swift/Kitura/pull/1349) which should fix this issue.
@djones6  would you be able to review this change?

[2018-11-14 11:19] djones6 opened #1359 "Add Swift 4.2.1, Xcode10 and Ubuntu 16.04 / 18.04 Travis builds"
## Context and Description
Currency: Update all Kitura / associated repos to use Swift 4.2.1 by default.

We should also add testing for Ubuntu 16.04 and 18.04, which is easier now that [Package-Builder has Docker support](https://github.com/IBM-Swift/Package-Builder/pull/149).

Update .travis.yml so that we test with these permutations:
- Linux with 4.0.3, 4.1.3 and 4.2.1
- macOS with 4.0.3 (Xcod

[2018-11-14 11:22] djones6 opened #1360 "Swagger fixes for nested / array types"
## Context and Description

Some nested types or cases where an array type is returned in place of a Codable are not correctly modelled by the SwaggerGenerator.

WIP: https://github.com/IBM-Swift/Kitura/tree/issue.swaggerFixes
Test project: https://github.com/djones6/OpenAPIDemo

[2018-11-14 11:33] pushkarnk opened #1361 "Use ephemeral ports in the Kitura tests"
## Context and Description
The tests that create an HTTP server always bind to and listen on port number 8080. Though this is fine when we run the tests sequentially, we run into port collisions when we try to run them in parallel (using swift test --parallel). We must ideally be using ephemeral ports to avoid this issue.

The other option is to configure SO_REUSEPORT by default, but with this tes

[2018-11-14 11:35] djones6 opened #1362 "Document return types for standard Kitura responses in swagger"
## Context and Description
Kitura currently cannot programatically generate an accurate description of each possible response from a route handler, as there is no way to determine this at handler registration time.

SwaggerGenerator currently generates a generic "200" response for every registered route with the description "successful response".

WIP changes to improve this: https://github.com/IB

[2018-11-15 09:39] ddunn2 opened #1363 "Add option to return generated swagger on API request"
### Context & Description
We need to give the user the option to register a middleware in the generated application that will return the current codeable routes and models encoded as a swagger document.

## Clear & Actionable Tasks
- [ ] Add an option into generator-swiftserver to prompt for the swagger to be made available.
- [ ] Modify the template for the Application so that a call to register

[2018-11-15 14:24] djones6 opened #1364 "Deterministic ordering of routes in generated Swagger"
## Context and Description
The `SwaggerGenerator` uses `JSONEncoder` to generate our OpenAPI specification based on an in-memory model built during route registration.

Unfortunately, this has the effect of producing a document that contains lists of elements (such as routes) whose ordering is unpredictable, and changes from one execution to the next.

It would make the consumption and comparison

[2018-11-15 14:43] djones6 opened #1365 "Option to allow Swagger to be written to disk"
## Context and Description
We would like to be able to request that the Swagger document is written to a file on disk.

It would probably make sense for this to occur when the server is started, as route registration would normally have been completed by then.  However, that's not a limitation we currently impose, so this would need some consideration.

[2018-11-15 15:19] wafflespeanut opened #1366 "Support for verifying client certificates"
The primary authentication mechanism of [SoLiD](https://github.com/solid/solid-spec) specification is [WebID-TLS](https://www.w3.org/2005/Incubator/webid/spec/tls/), and one of the steps require the server to be able to fetch the certificate presented by the client during a TLS handshake.

NIO-SSL has [added support](https://github.com/apple/swift-nio-ssl/pull/49) for verification callbacks in bot

[2018-11-15 15:45] djones6 commented on #1359
Done for most repos.  Remaining repos to be merged are:

- IBM-Swift/Swift-SMTP#92 - required changes to Package-Builder to support running via Docker (done in: IBM-Swift/Package-Builder#150)
- IBM-Swift/Kitura-redis#69 / IBM-Swift/Kitura-Session-Redis#41 most Linux builds failing, I believe due to an unrelated change (Redis package maybe?). Needs investigation
- IBM-Swift/SwiftKueryMySQL#37 - 18.

[2018-11-15 15:49] djones6 commented on #1337
@weissi #1349 has been merged.

[2018-11-15 16:01] #456 closed

[2018-11-15 16:01] djones6 commented on #456
This has been delivered in the https://github.com/IBM-Swift/Kitura-Benchmarks project.

[2018-11-15 16:04] weissi commented on #1337
thanks @djones6 & @Andrew-Lees11 , I can confirm that works (hit another TSan issue though, filing in a sec).

[2018-11-15 16:08] djones6 opened #1367 "Swagger handling of multiple Decoders / Encoders"
### Context & Description
Swagger can represent a set of supported encodings for requests and responses, for example:
[code]
Kitura recently gained the ability to register multiple encoders and decoders, selected by the Content-Type and Accept headers.

We should wire these things up so that our generated swagger describes the encodings the router supports, rather than just hard-coding JSON.

Swag

[2018-11-15 16:12] weissi opened #1368 "KituraTests.TestServer testServerStartStop causes data race"
## Context and Description

I ran the Kitura tests with Kitura-NIO enabled under TSan. Basically

    KITURA_NIO=1 swift test --sanitize=thread

and hit a problem in `KituraTests.TestServer testServerStartStop`:

[code]

the [`fastCGIServersAndPorts` variable seems to be read and written without any synchronisation](https://github.com/IBM-Swift/Kitura/blob/77a0299bf7ac30a72ef7c51dc596f85650dcee51/

[2018-11-15 16:45] ianpartridge commented on #1368
Interesting, the same thing probably applies to `httpServersAndPorts` too. We don't really expect people to be starting and stopping HTTP servers from different threads, so it's kind of "don't do that". But we could put some locking around all this as it's not in a perf fast-path.

[2018-11-15 17:02] #1337 closed

[2018-11-15 18:18] weissi commented on #1368
@ianpartridge agreed. For the reasons you mention I'd probably just go for a lock. Because otherwise you'd need to make something up like 'may only be called on the main thread' because it's not only that matching start & stop calls need to be called from the same thread, it's all start & stop calls ever need to come from the same thread and the main one is really the only one that'll always exist

[2018-11-15 18:34] weissi commented on #1361
you could just bind to port `0` and the OS will give you a free port. Then you just need to pass the actually bound port to your client to connect to. That's what we always do in NIO, see [for example here](https://github.com/apple/swift-nio/blob/master/Tests/NIOHTTP1Tests/HTTPServerClientTest.swift#L401-L413). We bind to `0` and then connect to `serverChannel.localAddress` which will contain the

[2018-11-15 19:42] ianpartridge commented on #1368
Yeah, `NSLock` it is, I think.

[2018-11-15 19:46] ianpartridge commented on #1368
(it would be nice if the stdlib got some locking primitives, so `NSLock` and `NIOConcurrencyHelpers` could go upstream)

[2018-11-16 12:19] weissi commented on #1361
@pushkarnk port numbers in TCP are 16 bits wide so a `UInt16` will be able to hold all valid port numbers, no need to restrict anything.

![screenshot 2018-11-16 at 12 19 11 pm](https://user-images.githubusercontent.com/624238/48620950-d48bcd00-e999-11e8-8151-d747ea492846.png)

[2018-11-16 13:10] djones6 commented on #1359
Closing, remaining issue with Redis to be investigated under https://github.com/IBM-Swift/Kitura-redis/issues/70

[2018-11-16 13:10] #1359 closed

[2018-11-18 20:05] pushkarnk commented on #1361
@weissi I'm sorry for the wrong information, `port` is an `Int16`  (not `UInt16`) [in ClientRequest](http://ibm-swift.github.io/Kitura-net/Classes/ClientRequest/Options.html#/s:9KituraNet13ClientRequestC7OptionsO4portAEs5Int16VcAEmF). This is causing overflow issues if the port number exceeds 2^15 − 1.

[2018-11-23 10:11] djones6 opened #1370 "Swift 5 bring-up, CI and performance"
## Context and Description
We need to add testing with Swift 5 builds to Kitura repos, with CI coverage, and resolve the new compilation warnings.

Also, since [significant under-the-covers String performance work](https://forums.swift.org/t/string-s-abi-and-utf-8/17676) has landed, we should evaluate places where we convert to/from Strings (particularly in Kitura / Kitura-net / Kitura-NIO) and wh

[2018-11-23 10:12] djones6 opened #1371 "Add CI for Swift 5"
## Context and Description
Add builds with latest Swift 5 snapshots to Travis for all Kitura repos.

[2018-11-28 10:52] djones6 commented on #1371
A number of repos need updating to drop support for Swift 3, with their `Package@swift-4.swift` renaming to `Package.swift`.  (We could alternatively keep 3.0 support and add another `Package@swift-5.swift`, but after discussion, we really don't want to build up more technical debt).

I've started with the common dependencies and working my way up the tree.

Done:
- LoggerAPI (https://github.com/I

[2018-11-28 11:11] ianpartridge commented on #1356
Fixed in #1369

[2018-11-28 11:11] #1356 closed

[2018-11-28 11:22] djones6 opened #1372 "Evaluate Swift 5 performance"
## Context and Description
- Swift 5 vs Swift 4.2
- Swift 5 before + after String utf8 changes
  - Identify places where we convert between bytes and Strings, and evaluate whether we are getting the benefits of the rework
- Flame graph analysis to investigate result of above, or spot any new areas of interest

[2018-11-30 10:04] coenmooij commented on #1364
Would love to see this feature sooner than later!

[2018-12-06 11:17] weissi commented on #1368
ping @ianpartridge , just hit that one again with NIO's compatibility suite

[2018-12-07 14:36] djones6 opened #1375 "Dependence on Dictionary ordering in Kitura tests"
## Context and Description
The Kitura tests contain a handful of tests that return an array, and then test that the returned array is equal to some expected value.  The creation of this array has a dependency on the ordering of iteration of elements from a Dictionary, as it is created using `dictionary.map { $0.value }`:

The dictionary in question is created with the same three elements each time

[2018-12-10 11:35] Andrew-Lees11 commented on #1375
Fix raised in PR [here](https://github.com/IBM-Swift/Kitura/pull/1376)

[2018-12-10 14:32] #1375 closed

[2018-12-12 10:45] djones6 commented on #1371
Done (merged): LoggerAPI HeliumLogger BlueCryptor BlueRSA BlueSignals BlueSocket BlueSSLService Kitura-TemplateEngine Swift-cfenv Configuration KituraContracts CircuitBreaker Kitura-net CloudEnvironment TypeDecoder FileKit Health Kitura-Cache Kitura-Markdown Kitura-StencilTemplateEngine Swift-JWT Kitura-CORS Swift-Kuery Kitura-Session Kitura-WebSocket Kitura-OpenAPI SwiftyRequest

Tagged: LoggerAP

[2018-12-12 10:46] djones6 commented on #1372
This is blocked by #1371

[2018-12-12 10:57] #1368 closed

[2018-12-19 17:39] djones6 commented on #1371
Done: Swift-Kuery-PostgreSQL SwiftKueryMySQL Swift-Kuery-SQLite Kitura-Compression Kitura-NIO Kitura-Credentials
Tagged: Kitura-Compression Kitura-NIO Kitura-Credentials

Raised (awaiting review): Kitura-CredentialsFacebook Kitura-CredentialsGitHub Kitura-CredentialsGoogle Kitura-CredentialsHTTP

Work-in-progress:
- Kitura-Sample: https://github.com/IBM-Swift/Kitura-Sample/pull/117 (awaiting Swift

[2019-01-01 18:32] pushkarnk commented on #1361
PR: https://github.com/IBM-Swift/Kitura/pull/1382

[2019-01-02 16:42] weissi commented on #1361
@pushkarnk are you sure you don't want to (until you can fix the type) use `0...32767` as the actual values and map -32768...-1 to 32768...65535.

[code]

should do it.

[2019-01-10 15:32] djones6 commented on #1371
Closing, issues raised for remaining problems:
- Kitura-Sample: depends on https://github.com/ibm-cloud-security/appid-serversdk-swift/issues/83
- Swift-SMTP: https://github.com/IBM-Swift/Swift-SMTP/issues/97
- KituraKit: https://github.com/IBM-Swift/KituraKit/issues/45

[2019-01-10 15:32] #1371 closed

[2019-01-11 10:04] djones6 opened #1384 "Ability to limit incoming request size"
## Context and Description
Kitura currently does not have the concept of a limit on incoming request size.  It is possible to destabilize a server by sending (accidentally or maliciously) a large request payload which either impairs performance, or exhausts available memory.

A limit should be configurable on a server which causes requests above that size to be rejected, and the connection closed.

[2019-01-11 16:39] djones6 commented on #1384
Prototype for discussion here: https://github.com/IBM-Swift/Kitura/commit/707bf6d9a00a6d80f0d91c09de384700fbe1e7fb
This requires the corresponding changes to Kitura-net in this branch: https://github.com/IBM-Swift/Kitura-net/tree/requestLimit

In this prototype I implemented both the `requestSizeLimit` (maximum bytes for a request, _including_ the headers) and `connectionLimit` on total number of

[2019-01-11 17:05] kilnerm commented on #1345
@JonKaleidoscope Apologies for the time it has taken to get back to you.

I have taken a look at the issue and I think there are a combination of factors in play here.

Firstly the `StaticFileServer` is expecting a root folder to be passed to the initialiser, I think this is something that should be fixed to reject anything other than a folder.

Secondly when you specify your second route:

`route

[2019-01-11 21:37] moshegottlieb commented on #1384
@djones6 I would like to see some additional flexibility.
In particular - I would like to install handlers for the error messages so that the response can customized (a human readable error message specifying the actual limit, for instance) and the request can be logged.
It would have been nice to add additional custom handlers and allow the app to override the defaults (for instance, allow `POST

[2019-01-13 04:23] fwgreen opened #1385 "Consider RouterRequest function names that funnel users to the right outcome"
After multiple missteps figuring out how to read a form, I'm wondering if the RouterRequest function names couldn't be a bit more straight forward? Maybe this could be achieved by offering more self explanatory (or at least aligning with prior art) delegates to some the current RouterRequest functions.  Here are some ideas after taking a quick look at [Javalin](https://github.com/tipsy/javalin/blo

[2019-01-13 20:47] ianpartridge commented on #1385
Thanks for your ideas!  While these would be breaking changes, I do agree that the existing APIs could be improved.  I'll leave this open for now but we don't plan to make any imminent changes.

[2019-01-16 16:03] djones6 commented on #1372
During development of the fix for #1374 (IBM-Swift/Kitura-net#284), I ran a brief performance comparison of Kitura hello-world built on Swift 4.2.1 versus a late December Swift 5 snapshot:
[code]
In the results above, `base421` is Kitura prior to the fix for #1374, `gcd421` is the fix that was delivered, and `gcd` is the same code built with Swift 5.  These numbers were collected on Ubuntu 16.04.

[2019-01-16 16:43] djones6 commented on #1372
Applying the same fix to Kitura-net resolves this (Swift 5.0 comes out marginally ahead):
[code]
I'll raise a PR for this.

[2019-01-17 10:00] ianpartridge commented on #1372
We've achieved parity.  We'll use a new issue for further performance opportunities.

[2019-01-17 10:00] #1372 closed

[2019-01-17 10:01] pushkarnk commented on #1361
Merged #1382

[2019-01-17 10:01] #1361 closed

[2019-01-17 10:14] pushkarnk opened #1386 "Prototype Kitura running on Kitura-NIO by default"
... and uses a environment variable to switch to Kitura-net

[2019-01-17 10:16] pushkarnk opened #1387 "Building/testing against swift-nio's master"

[2019-01-17 10:16] djones6 opened #1388 "Swift 5 performance opportunities"
Look for performance opportunities with Kitura running on Swift 5 (both with -net and -NIO), and prototype improvements.

## Context and Description
In #1372, we performed a basic performance assessment of Kitura with Kitura-net with Swift 5, and fixed a regression (IBM-Swift/Kitura-net#286), achieving parity with 4.2.

There are likely to be other opportunities to improve performance, including:

[2019-01-17 10:16] pushkarnk commented on #1387
Sorry, this must be created against Kitura-NIO

[2019-01-17 10:16] #1387 closed

[2019-01-21 10:56] ianpartridge opened #1392 "Kitura papercuts"
## Context and Description

Over time, Kitura has accumulated some technical debt which can only be fixed in SemVer Major.  This issue is a crowd-sourced collection of small improvements we would like to make.

Please suggest your own below.

## Details

- `RouterRequest` has `originalURL`, `url`, `urlComponents`, `urlURL`
- `RouterResponse send()` methods are non-intuitive and messy
- Headers API

[2019-01-22 11:30] djones6 commented on #1364
I've prototyped a basic solution for this applying a lexicographical sort to the document elements in #1393.  Feedback appreciated.

[2019-01-22 13:32] coenmooij commented on #1364
Took a look and added some feedback.
https://github.com/IBM-Swift/Kitura/pull/1393#issuecomment-456399378

[2019-01-23 09:39] kilnerm commented on #1345
I have merged a fix to log a warning / error when the `StaticFileServer` is not being used as intended.

I have also added making the initialiser failable to the list of things to do before the next major release.

[2019-01-23 14:47] JonKaleidoscope commented on #1345
@kilnerm Thanks for the clarification, I will take these notes into consideration moving forward.

[2019-01-23 16:28] djones6 commented on #1384
I've updated this prototype to provide the ability to customize the response to the client: https://github.com/IBM-Swift/Kitura/compare/fb5dbc2...requestLimit

The handler is provided the current limit (that was exceeded) and the remote address of the client.

Logging details of the request is not so easy: as the point of this is to avoid reading beyond a certain limit, then we cannot consume and

[2019-01-25 13:33] djones6 commented on #1364
#1393 has been merged and tagged in Kitura `2.6.1`.

[2019-01-25 13:33] #1364 closed

[2019-01-28 11:43] djones6 commented on #1388
As String is now stored internally as utf8, bridging to NSString represents a significant overhead in Swift 5.  There are many places that String is bridged to NSString, which I recall have featured in our code in the past.  We should avoid these on critical paths if possible:

String initializers:
- `init(from: Data)`: https://github.com/apple/swift-corelibs-foundation/blob/master/Foundation/NSSt

[2019-01-28 13:37] djones6 commented on #1392
- `Kitura.addHTTPServer()` has a bunch of optional parameters, and we're considering [adding another](#1384).  These should be tidied up into something like a 'Server Options' struct.

[2019-01-28 16:51] djones6 commented on #1392
- RouterRequest.queryParameters comes in two flavours: `queryParameters` and `queryParametersMultiValues`.  The latter was added in #1238 as a non-breaking addition to allow multiple values for a query parameter to be represented.  We should tidy this up and have a single, consistent way to present query parameters.

[2019-01-28 16:55] djones6 commented on #1388
[Cookies](https://github.com/IBM-Swift/Kitura/blob/master/Sources/Kitura/RouterRequest.swift#L305) uses several NSString functions:  String.components, String.range, String.trimmingCharacters

[2019-01-29 07:37] #1345 closed

[2019-01-30 10:03] ianpartridge commented on #1386
PR complete, will merge when NIO is ready.

[2019-01-30 10:03] #1386 closed

[2019-01-30 13:41] ianpartridge commented on #790
You'll need to use Instruments, I think.  Sorry, I don't know any more.

[2019-01-30 17:06] ianpartridge opened #1397 "Compilation warning"
https://travis-ci.org/IBM-Swift/Kitura/jobs/486497509

[code]

[2019-01-31 07:05] WhatYouWant commented on #790
I find this concept by using Instruments, and i found ,for the same code may be has some problem, if i use autoreleasepool, there isn't autoreleasepool content in instruments, and if i not use autoreleasepool, there has some autoreleasepool content

[2019-02-01 12:44] ianpartridge opened #1398 "Kitura 2.6.1 tagged on master"
It seems that `2.6.1` was tagged on the `master` branch, not `kitura-2.6`. Probably we should have backported the fixes we made on `master` that we wanted in `2.6.1`.

See also https://github.com/IBM-Swift/Kitura-NIO/issues/164

[2019-02-01 14:07] ianpartridge commented on #1398
@djones6 do you have time to sort this out on Monday?

[2019-02-04 11:33] djones6 commented on #1398
The tag itself is fine: all of the commits in 2.6.1 are commits we intended for 2.6.1.  The only issue here is that the kitura-2.6 branch is stale, but we can just fast-forward it to the 2.6.1 tag.  I'll do that today.

[2019-02-04 11:41] djones6 commented on #1398
`kitura-2.6` has been fast-forwarded to be even with the 2.6.1 tag on master. Future 2.6.x releases should be cherry-picked and tagged from this branch, to enable us to accumulate changes in master for the next major.

[2019-02-04 11:41] #1398 closed

[2019-02-07 11:56] djones6 commented on #1388
#1401 addresses `urlDecodedFieldValuePairs`, and replaces String.components with String.split, and replaces String.replacingOccurrences with a custom function that uses String.replaceSubrange instead (slightly faster on Mac, substantially faster on Linux).

I attempted to write a replacement for String.removingPercentEncoding, but I was unable to make something that performed better than Foundatio

[2019-02-11 10:00] djones6 commented on #1388
Just as a note, while experimenting, I found that (as of Swift 5.0 DEVELOPMENT-SNAPSHOT-2019-01-27-a), mutating a String twice using `String.remove` is faster than using substrings and then cutting a new String.  This code is used for unquoting cookie values:
[code]
and is faster than
[code]
This may be dependent on the string length, number and nature of mutations etc.

[2019-02-12 11:43] satishbabariya opened #1407 "Getting Combined response form two routes when using router.all"
## Context and Description
A description of the issue.

### Expected vs. Actual Behaviour
On calling Hello route **http://localhost:8080/hello**

Actual response : {"hello":"world"}{"All":"Well"}
Expected response : {"hello":"world"}

Code :
[code]

![screen shot 2019-02-12 at 5 11 55 pm](https://user-images.githubusercontent.com/16605023/52633109-68adf780-2ee9-11e9-9b68-0c0d7d6e2f66.png)

[2019-02-13 10:09] ianpartridge opened #1408 "Codable routing with Result"
## Context and Description
Swift 5 adds a `Result` type to the standard library.

We could change Codable routing to use `Result<Thing, RequestError>` in the callbacks.

[2019-02-13 13:17] ddunn2 commented on #1407
Hi @satishbabariya
Thanks for raising an issue.

What is it you are trying to do exactly? And why do you think that the expected response should be: `{"hello":"world"}`?

I have been able to replicate your issue, and if you want to prevent the `router.all` handler being executed on the `router.get("/hello")` you can modify your `router.get("/hello")` to look like this:

[code]
`response.end()` end

[2019-02-13 15:28] satishbabariya commented on #1407
Got it, Thanks.

[2019-02-13 15:28] #1407 closed

[2019-02-13 17:22] djones6 commented on #1362
#1346 is merged.

[2019-02-13 17:22] #1362 closed

[2019-02-13 17:39] djones6 opened #1409 "Kitura tests intermittently hang"
## Context and Description
The Kitura tests intermittently hang when running through Travis, and the job is eventually cancelled due to 10 minutes of inactivity.

I was able to reproduce the hang by running under Docker with a highly constrained environment:
[code]
`docker run -it --cpus="0.1" --cpuset-cpus="0-1" --cap-add sys_ptrace --privileged kitura-test`

The backtrace for a hanging run indic

[2019-02-14 17:16] #1336 closed

[2019-02-20 09:51] #1397 closed

[2019-02-22 12:31] BinaryHammer opened #1411 "Stuck at "Initialising template""
## Context and Description
The app is stuck on "Creating Project    Initialising template..."

### Environment Details
macOS Mojave, had the problem also with High Sierra
Installed Xcode 10
Installed Xcode Developer tools through "$ xcode-select --install"

### Steps to Reproduce
1) Open kitura app
2) Create any of the 3: Skeleton, Starter or OpenAPI

### Expected vs. Actual Behaviour
Expect to fi

[2019-02-22 13:02] seabaylea commented on #1411
Hi @BinaryHammer this is working for me locally. What do you have on disk once it get's stuck?

[2019-02-24 10:24] BinaryHammer commented on #1411
[code]

[2019-02-27 10:18] djones6 opened #1412 "Redesign Headers handling"
## Context and Description
The Headers handling in Kitura, using HeadersContainer, performs poorly and could use a redesign.  Changes would be breaking.

### Environment Details
Information about your OS, Swift version and Xcode version if on macOS.

### Steps to Reproduce
1) ...
2) ...
etc

### Expected vs. Actual Behaviour
- [ ] Expected to happen...
- [ ] Actually happened...

[2019-02-27 10:19] ianpartridge opened #1413 "macOS app should reject a project named "Kitura""

[2019-02-27 13:26] djones6 opened #1414 "HEAD requests are not routed to GET handlers"
## Context and Description
HTTP HEAD requests **should** have the same response headers as the equivalent GET request, but **must not** contain a response body. [(9.4 of RFC 2616)](https://www.w3.org/Protocols/rfc2616/rfc2616-sec9.html#sec9.4)

This means that a HEAD request should contain the exact same `Content-Length` value as if a body was being returned.

Kitura however does not route HEAD re

[2019-03-01 04:12] chriscrossen opened #1415 "macOS Kitura app – "Couldn't create project" message"
## Context and Description
A description of the issue.
I start the Kitura app on my mac running macOS Mojave and select any of the project templates, click the Create button, enter a project name in the dialog, and push the Create button. I get a dialog box titled, "Couldn't create project" with the text "Error resolving dependencies".

### Environment Details
Information about your OS, Swift vers

[2019-03-01 10:09] ddunn2 commented on #1415
Hi @chriscrossen, Thanks for raising this issue!

Could I also ask you provide the version of the Kitura macOS app you are using?

You can find this by selecting `Kitura` in the menu bar and selecting `About Kitura`

Thanks!

[2019-03-01 12:48] chriscrossen commented on #1415
Kitura Version 1.1 (1)

I just downloaded and installed it yesterday.

[2019-03-01 14:34] ddunn2 commented on #1415
@chriscrossen Thanks!

I can't seem to recreate the issue, that is, it works successfully for me.

At the point the app attempts to resolve dependencies it has already created the project files in your chosen destination.

I was wondering if you would be able to open your project in a Terminal and run the following command:

`swift package resolve`

And provide me with the output you get from this

[2019-03-01 18:22] chriscrossen commented on #1415
Chriss-MacBook-Pro:HelloKitura chriscrossen$ pwd
/Users/chriscrossen/HelloKitura
Chriss-MacBook-Pro:HelloKitura chriscrossen$ ls -al
total 152
drwxr-xr-x  24 chriscrossen  staff    768 Feb 28 19:18 .
drwxr-xr-x+ 24 chriscrossen  staff    768 Feb 28 21:07 ..
drwxr-xr-x   6 chriscrossen  staff    192 Feb 28 19:18 .bluemix
-rw-r--r--   1 chriscrossen  staff     36 Feb 28 19:18 .cfignore
-rw-r--r--

[2019-03-01 18:32] chriscrossen commented on #1415
I'm afraid I've just confused the issue. The above output is from a project I created with the command line. I erased the folder and just tried again with the app and no folder was created. I also tried with the program to create a starter project on the Desktop and no folder was created.

[2019-03-01 20:03] chriscrossen commented on #1415
This may be a macOS Mojave issue.

I just installed the Kitura app on my iMac and it worked perfectly.
The iMac is running:
macOS High Sierra (Version 10.13.6)
Apple Swift version 4.2.1 (swiftlang-1000.11.42 clang-1000.11.45.1)
Xcode Version 10.1 (10B61)

[2019-03-01 22:06] ddunn2 commented on #1415
This line:
`error: terminated(72): xcrun --sdk macosx --find xctest output:`

Makes me think that your `xcode-select` path could be wrong.

If you run `xcode-select -version` in Terminal what is the output?

Alternatively...
It may be useful to also check the Command Line Tools you're using.
You can check which Command Line Tools you are using within Xcode:
1. Click Xcode in the menu bar
2. Select

[2019-03-01 22:42] chriscrossen commented on #1415
Nice work! Thank you.  It was the Command Line Tools.

**Mojave**
xcode-select -version
xcode-select version 2354.

**High Sierra**
xcode-select -version
xcode-select version 2349.

**High Sierra:**
![highsierracommandlinetools](https://user-images.githubusercontent.com/30850047/53670378-c48db580-3c37-11e9-870d-2bdfb04463c9.png)

**Mojave:**
<img width="822" alt="mojavecommandlinetools" src="https

[2019-03-02 14:07] ddunn2 commented on #1415
Awesome!

I'm glad you were able to get it working.
If you have any other issues please raise them here and we'll be happy to help!

You can also join our [slack channel](http://swift-at-ibm-slack.mybluemix.net/) to talk to members of the Kitura team and Kitura Community to get help using Kitura or just to chat about Server-Side Swift in general :)

Thanks again!

[2019-03-02 14:07] #1415 closed

[2019-03-04 10:38] djones6 opened #1416 "SwaggerGenerator does not reflect Date encoding strategy"
## Context and Description
SwaggerGenerator uses the data format reported by the TypeDecoder for all types while documenting API calls.

Foundation's `JSONEncoder` supports multiple `Date` encoding formats, such as with an `iso8601` formatted string.  In https://github.com/IBM-Swift/Kitura/pull/1309 we provided the ability to customize the JSONEncoder including the date encoding strategy.

By defa

[2019-03-07 20:12] ianpartridge opened #1417 "Intermittent crash running tests in parallel"
https://travis-ci.org/IBM-Swift/Kitura/jobs/503212899

[code]

Looks like `SecPKCS12Import()` is not thread-safe so we need some locking.

[2019-03-08 09:52] Andrew-Lees11 commented on #1408
We made a prototype using result and the gist for that is [here](https://gist.github.com/Andrew-Lees11/c4de32e04e7017372d0e7852d7cf4539).

For the user, there was not major improvements in their code. The main benefits are in the code on our side for handling the users input.

[2019-03-08 15:59] dokun1 commented on #1408
I honestly think we should reopen this. I fully agree that this does not improve the code, and could often times slow it down. I think that being able to parse something into `Result` will make it so that people can interoperate with other frameworks that also use `Result`, and I expect a lot of other Swift/iOS frameworks to use this approach. Providing it as an option is probably a good look for

[2019-03-08 16:08] Andrew-Lees11 commented on #1408
The reason I closed this was because we were using this issue to scope out what the change would be. We are still considering result for when we make a major change to Kitura.
As such I will re-open this issue as a discussion point to keep track of the idea.
When we look to start implementing with Swift 5 this we can assign somebody to carry out the required changes.

[2019-03-08 16:29] dokun1 commented on #1408
Nice! Yeah, I think providing it as an overload would be ideal, if I could have anything I wanted. Basically, let the data flow to whichever outlet has been created. Interesting issue being able to do one or the other. I'll come back and expand some more on this next week, but your gist looks like a great start. If the end route doesn't use `Result` and just uses the types, then unwrap `Result` wi

[2019-03-12 14:06] krzyzanowskim opened #1418 "If application ends with error, the process exit code should be different than 0"
The "Hello World" Kitura application error handling is not optimal. For the case presented below, the executable exit with exit code 0 - that means "success", while there was an error and exit code should be different than 0 (eg. 1).

If application ends with error, the process exit code should be different than 0

[code]

[2019-03-12 14:24] sympatheticmoose commented on #1418
related issue - https://github.com/IBM-Swift/Kitura/issues/1191

[2019-03-12 14:25] ianpartridge commented on #1418
Thanks Marcin, we will take a look ASAP.

[2019-03-12 15:26] djones6 commented on #1418
I agree, this behaviour is unusual.  There are several possible ways we could behave, due to how Kitura starts listeners (there can be more than one), and what `Kitura.run()` does.

For a simple application that contains a single listener socket (typically 8080 or 8090), this is usually followed by invoking `Kitura.run()` on the main thread.

`Kitura.run()` will first invoke `Kitura.start()`, whic

[2019-03-12 15:58] djones6 commented on #1418
An alternative, throw an error if any listener fails to start:
[code]
(though it might be more helpful to know which listeners failed)

[2019-03-13 17:04] djones6 commented on #1411
Hi @BinaryHammer, @ddunn2 is looking into similar issues under #1413 where we fail to surface errors encountered by the SwiftPM command line tools.

In the meantime, some things to try:

1. Try running `xcode-select -p` at the command line and check that it is set to the correct path to your Xcode installation (you can also do this through Xcode -> Preferences and select your Xcode install under '

[2019-03-14 17:21] djones6 opened #1419 "Regression: SwaggerGenerator does not handle get by ID"
## Context and Description
#1347 enabled GET (plural) and POST routes that return an id to be represented in swagger - in the GET (plural) case, as `[(Identifier, Model)]`. It however introduced a regression for routes that get _by_ id, such as `/person/{id}`.

### Environment Details
Kitura 2.6.2

### Steps to Reproduce
[code]

### Expected vs. Actual Behaviour
- [ ] Expected to happen...
Swagger

[2019-03-18 09:32] makleso6 opened #1422 "iOS availability"
https://github.com/IBM-Swift/Kitura/blob/1aecd9b49e6a05c8316fc7ae5792bac3c222729f/Sources/Kitura/SwaggerGenerator.swift#L809
please add
`if #available(OSX 10.13, iOS 11.0, *)`

[2019-03-18 11:20] #1360 closed

[2019-03-18 11:20] #1416 closed

[2019-03-18 11:20] #1419 closed

[2019-03-19 03:44] diuming opened #1423 "[Request] Is it possible to public the Router's internal func render(template:context:options:) throws -> String ?"
## Context and Description
convenient to get string from StencilTemplateEngine.
or, Is there a better way to do this?
thanks

### Environment Details
macOS 10.14.3, Swift 4.2.1, Xcode 10.1

Server Side
---
[code]

Browser Side(JQuery)
---
[code]

[2019-03-19 04:45] diuming commented on #1423
Sorry! My mistake!

[2019-03-19 04:45] #1423 closed

[2019-03-19 16:13] djones6 opened #1425 "Update CI to test Swift 4.2.3 and official Docker images"
Swift 4.2.3 was recently released.  We should update the IBM-Swift projects' CI to run against this version.

In addition, we should update to run Dockerized builds using the official Swift Docker images, rather than the base Ubuntu images.  The former provide a nice build time improvement as Swift and dependencies are already installed in the image.  This work has already been completed for the K

[2019-03-19 17:09] djones6 commented on #1425
Done: BlueCryptor BlueECC BlueRSA BlueSignals BlueSocket BlueSSLService

PRs raised: Kitura Kitura-net Kitura-NIO Kitura-CouchDB SwiftKueryMySQL Swift-Kuery-SQLite

Branches pushed: CircuitBreaker CloudEnvironment Configuration FileKit Health HeliumLogger Kitura-Cache Kitura-Compression KituraContracts Kitura-CORS Kitura-Credentials Kitura-CredentialsFacebook Kitura-CredentialsGitHub Kitura-Creden

[2019-03-20 09:02] BinaryHammer commented on #1411
First:

[code]

Second:

[code]

[2019-03-21 08:57] saiHemak commented on #1417
To recreate the issue , I have tried to run the  Kitura tests in parallel on Darwin and could see the below failure

 /Library/Developer/Toolchains/swift-4.2.3-RELEASE.xctoolchain/usr/bin/swift test --parallel

[code]

[2019-03-21 10:53] djones6 opened #1427 "StaticFileServer tests broken when running under Xcode"
## Context and Description
A number of Kitura's StaticFileServer tests rely on serving resources using a path of `"./Tests/KituraTests/TestStaticFileServer/"`.  This works from the command line, though only if the working directory is the root directory of the Kitura project.

If you try to run the tests from any subdirectory, such as running `swift test` from `./Tests`, then these tests will fail

[2019-03-22 16:23] djones6 commented on #1411
Case-sensitive filesystem sounds like a likely suspect!

@ddunn2 I think we should be able to test the app locally by creating and mounting a disk image formatted with a case-sensitive filesystem.  Eg: https://gist.github.com/dixson3/8360571 (though note the comment about performance and using APFS on Mojave)

[2019-03-24 10:03] BinaryHammer commented on #1411
I put up a Parallels macOS Mojave Virtual Machine, macOS freshly installed with AFPS with case insensivity. It worked. There could be other reasons, but it is not hardware related then and is one indicator that the case sensivity is the problem.

[2019-03-27 09:36] djones6 opened #1431 "Document use of date custom encoding when generating swagger"
## Context and Description
A description of the issue.

### Environment Details
Information about your OS, Swift version and Xcode version if on macOS.

### Steps to Reproduce
1) ...
2) ...
etc

### Expected vs. Actual Behaviour
- [ ] Expected to happen...
- [ ] Actually happened...

[2019-03-27 10:07] #1388 closed

[2019-03-27 10:14] ianpartridge opened #1432 "Kitura 2.7 release plan"

[2019-03-27 10:21] ianpartridge opened #1433 "Swift 5 bringup"
- .swift-version to 5.0
- adopt swift:5.0 docker images
- tools-version:5.0
- resolve any compile errors, warnings, test failures...

Done:
- CloudEnvironment (https://github.com/IBM-Swift/CloudEnvironment/pull/59), tagged `9.0.1`
- Configuration (https://github.com/IBM-Swift/Configuration/pull/59), tagged `3.0.3`
- FileKit (https://github.com/IBM-Swift/FileKit/pull/8), tagged `0.0.2`
- Health (ht

[2019-03-28 08:33] saiHemak commented on #1427
@djones6  I tried to recreate this issue by following the steps mentioned in the description
[code]
 The tests seems to pass successfully..

[2019-04-01 15:30] potap75 commented on #1433
Hi,
Is that why it doesn't build anymore? The problem began after I ran _**swift package tools-version --set-current**_:

**"FAILED Failed to build the app.

Executing /swift-utils/tools-utils.sh build release command started at Sun Mar 31 17:51:59 2019 ⠒ Dumping output from the command:
Current folder: /swift-project
Command: build
Build configuration: release
Build folder: /swift-project/.build-

[2019-04-03 19:42] djones6 opened #1437 "Compilation warning with Swift 5"
Kitura compiler warning with Swift 5:
[code]

[2019-04-04 05:22] diuming opened #1438 "Is it possible to save data to local web storage?"
as title and take a look following, please
![storage](https://user-images.githubusercontent.com/39903550/55531346-7bb89900-56dc-11e9-84b3-6360dec19ce6.png)

[2019-04-04 09:34] #928 closed

[2019-04-04 09:39] djones6 commented on #1437
This was https://github.com/apple/swift-evolution/blob/master/proposals/0192-non-exhaustive-enums.md

Addressing as part of #1436

[2019-04-04 09:39] #1437 closed

[2019-04-04 09:48] djones6 commented on #1433
@potap75 I expect that is because your generated project is still using the Swift 4.2 toolchain to perform the build, and so when it encounters your Package.swift with tools-version:5.0 it can't build it.

You probably need to edit the Dockerfiles to say `FROM swift:5.0` to get the latest toolchain.

[2019-04-04 15:45] potap75 commented on #1433
Thank  you! That  helped!

[2019-04-10 06:39] saiHemak commented on #1417
Raised PR
https://github.com/IBM-Swift/BlueSSLService/pull/74

[2019-04-11 09:11] pushkarnk commented on #1433
@ianpartridge I realised that when I picked up the `Swift 5 bringup changes` from `Kitura-WebSocket` while pushing code to `Kitura-WebSocket-NIO`, tag `2.0.0` has these changes.

[2019-04-12 08:34] saiHemak commented on #1438
@diuming , I am not sure about the context of your question in Kitura space . Please let us know what you are exactly looking from Kitura end in this context  ?

As per the question, Local Storage  is a feature introduced in HTML 5 and it is a client side feature. If the browser supports the Local Storage  feature then  you should be able to save the data using ```localStorage ``` and it saves the

[2019-04-12 08:57] #1438 closed

[2019-04-16 06:58] saiHemak commented on #1427
I am able to reproduce the crash with the following steps :

[code]

[2019-04-16 10:44] saiHemak commented on #1427
On further investigation , I could observe that the  same test case passes when ran from command-line and fails when ran in Xcode .I could see the ```absolutePath ``` formed by ```StaticFileServer```  is different  in both the cases . For instance :
```absolutePath```  in  Xcode :
[code]
 Absolute path /Users/sakandur/swift-workspace/Kitura-Sample/Packages/Kitura/./public
================/Users/sa

[2019-04-18 12:28] #1432 closed

[2019-04-18 12:28] ianpartridge commented on #1425
Finished!

[2019-04-18 12:28] #1425 closed

[2019-04-23 08:46] saiHemak commented on #1427
The ```fileManager.currentDirectoryPath```API  is used in forming the  ```absolutePath```  of the ```FileServer```. However, this  seems to be returning different paths in XCode and command line

on Xcode ```/private/tmp```

commandline ``` /Users/sakandur/swift-workspace/Kitura-Sample/Packages/Kitura```
as the ```absoluteRootPath``` formed in Xcode fails ```fileManager.fileExists(atPath: absolute

[2019-04-24 09:14] #1370 closed

[2019-04-24 09:14] ianpartridge opened #1444 "Kitura 2.7 performance measurement"
Now that Kitura 2.7 and Swift 5.0.1 is released we can re-run some numbers including TechEmpower.

[2019-04-24 09:17] ianpartridge opened #1445 "Kitura CLI re-write"

[2019-04-24 09:25] saiHemak commented on #1427
commenting out the code which does slicing of path components till packages  in ```removePackagesDirectory``` has resolved the issue and could successfully run the test through command-line as well as through Xcode .However, we need to consider the cases

[2019-04-24 12:08] ddunn2 commented on #1445
Moved to https://github.com/IBM-Swift/kitura-cli/issues/53

[2019-04-24 12:08] #1445 closed

[2019-04-25 08:09] pushkarnk commented on #1329
Received a sample that reproduces the problem from Rahul. I played around and can see the problem. Thanks @RahulKatariya

[2019-04-26 08:15] pushkarnk commented on #1329
Prototyped a new `StaticFileServer.Option` named `fallbackToDefaultIndex`
https://github.com/pushkarnk/Kitura/commit/718d6a21e528d0c603a053f104604b0dfa1787d9

Got the running webapp reviewed from Rahul. The expectation is a little different from what I had assumed: on the user trying to bypass the landing page and accessing a location directly, the default landing location (like `/index.html`) mus

[2019-04-26 08:18] pushkarnk commented on #1329
The feedback above means a few more changes to the prototype.

Apart from that, there are a few things to take care of here(just thinking aloud):
1. The user must be able to configure the fallback location. The default could be `/index.html`.
2. No fallback if the user is trying to directly access a file
3. The user must be able to configure locations for which the fallback fails

[2019-04-29 07:31] saiHemak commented on #1427
@djones6  based on the above PR and the code flow I understand that the slicing happens only when the ```pathComponents``` have ```.build or checkouts or packages ``` folder .  I believe this code path gets executed  only when the Kitura tests are triggered from a nested folder  i.e under a project .

[2019-05-02 12:56] ianpartridge commented on #1433
Done!

[2019-05-02 12:56] #1433 closed

[2019-05-07 06:50] diuming opened #1447 "What warnings when I switch to Kitura-NIO 2?"
Hi,
I switch to `Kitura-NIO 2` that i got some issues.
How do i get rid of these issues?
thanks

macOS 10.14.4
xcode 10.2.1
swift 5.0

issues
--------------------------------------------------------
[si_destination_compare] send failed: Invalid argument
[si_destination_compare] send failed: Undefined error: 0

[2019-05-08 05:01] saiHemak commented on #1417
PR merged

[2019-05-08 05:03] #1417 closed

[2019-05-08 09:24] saiHemak commented on #1365
pushed the code to ```https://github.com/saiHemak/Kitura-OpenAPI/tree/store-swagger```

[2019-05-08 09:42] helenmasters opened #1448 "Investigate our performance on https://github.com/the-benchmarker/web-frameworks"
It has been reported in our Slack that we are not performing well when running this benchmark, in comparison to other Swift frameworks.

As we are not familiar with this benchmark we will take a look.

[2019-05-08 10:59] saiHemak commented on #1427
@kilnerm, Discussed with @djones6   and assigning it to you  as we both are skeptical on  the relevance of above patch  in the context of ```StaticFileServer```.

[2019-05-09 04:13] saiHemak commented on #1365
https://github.com/IBM-Swift/Kitura-OpenAPI/pull/25 has been raised

[2019-05-09 04:16] saiHemak commented on #1365
As per @ianpartridge  inputs new API has been created which writes the output of ```router.swaggerJSON``` to disk.

[2019-05-09 06:29] pushkarnk commented on #1447
Hi @diuming can you please share a test case that reproduces this issue? The warnings don't seem to be coming from Kitura, so it is difficult to guess what's going wrong.

[2019-05-09 06:41] pushkarnk commented on #1448
The Kitura implementation doesn't seem to include the NIO mode. May be we should add that too.

[2019-05-10 08:40] diuming commented on #1447
@pushkarnk thanks for help

take a look my simple code, please.

code
---
import Kitura

let router = Router()
Kitura.addHTTPServer(onPort: 8080, with: router)
Kitura.run()

thanks

[2019-05-14 02:28] #1447 closed

[2019-05-14 16:57] djones6 commented on #1427
TL;DR: The problem does not apply to any dependent projects, and is confined to Kitura's tests only.

Resolved by #1449 - to summarize our findings:  This is specifically a limitation when the Kitura package itself is put into edited mode, because it is the location of a Kitura source file that is used to identify the correct serving path when a relative path is given to StaticFileServer.

If I've

[2019-05-14 16:57] #1427 closed

[2019-05-14 19:58] TaborKelly opened #1450 "Kitura listens on every available address/interface"
## Context and Description
Kitura listens on every available address/interface. This is okay when you are running in a Docker container but becomes a real problem when you aren't. For example, I only want Kitura to listen on localhost so that I can force everyone to go through an nginx reverse-proxy.

### Environment Details
Ubuntu 18.04 with Swift 5.0.1.

### Steps to Reproduce
1) Use Kitura to `

[2019-05-20 09:36] #1418 closed

[2019-05-20 10:05] djones6 commented on #1418
@krzyzanowskim #1430 has been merged to master and will be tagged in the next minor of Kitura (2.8) since it adds new public API.  Let me know if you require an interrim solution as we could potentially back-port a subset of these changes to Kitura 2.7.

[2019-05-20 10:32] krzyzanowskim commented on #1418
thank you! I don't need backport, thanks for asking.

[2019-05-20 15:43] #1431 closed

[2019-05-22 09:07] djones6 commented on #1384
@pushkarnk will raise issue for prototyping equivalent for NIO

[2019-05-22 10:58] helenmasters opened #1452 "Investigate poor performance of empty POST with the web-frameworks benchmark"
## Context and Description
Whilst investigating Kitura performance on the web-frameworks benchmarks under #1448 we noticed that the POST benchmark had particularly poor performance. This issue is to investigate the reasons behind this:

`wrk -H Connection: keep-alive --latency -d 15s -s /home/helenmasters/web-frameworks/tools/pipeline_post.lua -c 1000 --timeout 8 -t 33 http://172.17.0.2:3000/user`

[2019-05-22 11:25] helenmasters commented on #1448
David Jones and I investigated yesterday and he immediately noticed that Kitura is running inside an Ubuntu 14.04 Docker container, which is a performance penalty compared to running on 16.04 or 18.04 (related to an old + poorly performing libicu on that old distro)

Unfortunately, our generated projects specify `ibmcom/swift-ubuntu:5.0.1` rather than using the official `swift:5.0.1` image.  The f

[2019-05-22 11:25] #1448 closed

[2019-05-22 11:43] waghanza commented on #1448
FYI, I am working on running this on **production-ready** IaaS (instead of `docker`) on https://github.com/the-benchmarker/web-frameworks/pull/632

[2019-05-24 09:31] djones6 commented on #1450
This is now available in Kitura-net `2.3.0` and Kitura-NIO tagged `2.1.0`.

The remaining piece is to update the `Kitura.addXXXXServer` API to expose the new option.

[2019-05-24 14:46] TaborKelly commented on #1450
Can you re-open this issue, since the Kitura changes aren't done yet?

[2019-05-29 04:40] crspybits opened #1454 "Maintaining backwards compatibility with Swift 4.2?"
## Context and Description
Is it a goal of Kitura to maintain backwards compatibility with Swift 4.2 at least in terms of earlier versions of packages?

### Environment Details
I haven't updated my server system yet to Swift 5. I'm using Xcode 10.1 for local development for my server.

### Steps to Reproduce
In my Package.swift, I'm referencing:
.package(url: "https://github.com/IBM-Swift/Kitura.g

[2019-05-29 07:52] ianpartridge commented on #1454
Hi, thanks for opening the issue.

Yes, Kitura 2.6 should work fine with Swift 4.2.  Can you paste a `Package.swift` that isn't working for you?  We'll try and recreate.

[2019-05-29 14:07] uskithub opened #1455 "Creating OpenAPI project comes "Error resolving dependencies" in macOS Kitura app"
## Context and Description
A description of the issue.

This issue is as same as #1415.

Using Kitura app to create a project that is "Starter" or "OpenAPI", it comes to fail with "Error resolving dependencies". "Skeleton" is success.

### Environment Details
Information about your OS, Swift version and Xcode version if on macOS.

tools                 | version
---------------|--------
macOS

[2019-05-29 15:02] uskithub commented on #1455
@KBryan Do you mean to try "xcode-select --install" again?

[2019-05-29 15:04] KBryan commented on #1455
No try the Kitura Command Line Interface installation. It should be option 2 in the installing Kitura guide.

[2019-05-29 15:22] uskithub commented on #1455
Isn't it right that Kitura app should work without the Kitura CLI?

[2019-05-29 15:31] KBryan commented on #1455
You would think so. Or install Kitura CLI in the background.

[2019-05-29 17:16] kilnerm commented on #1455
@uskithub If everything works after installing the cli let us know and we can look at resolving that. If not then can you please copy the contents of ypur Package.swift and Package.resolved files from the project if they exist?

Thanks

[2019-05-30 06:45] pushkarnk commented on #1329
Redirecting without changing the URL is implementable in Kitura. I tried serving the `/index.html` for invalid paths but it doesn't get rendered because the client-side still hides/shows divs based on the path. Will discuss this with Rahul.

[2019-05-30 08:21] stealthanthrax commented on #866
@gulezian , I would like to work on this if it's still open.

[2019-05-30 08:42] ddunn2 commented on #1455
@uskithub @KBryan

The macOS app does not use the CLI in the background nor does it require it. The only link between the macOS app and the CLI is that they both target the same [repository](https://github.com/IBM-Swift/generator-swiftserver-projects) for cloning down the projects.

One thing I can suggest is ensuring that your command-line tools are actually set, installing them isn't always enou

[2019-05-30 08:43] pushkarnk commented on #866
@stealthanthrax HTTPStatusCode is bridged from `Kitura-net` by default, and from `Kitura-NIO` (in the NIO mode). If we decide to go ahead, the changes should go into both of these packages.

[2019-05-30 13:10] uskithub commented on #1455
@kilnerm I tried to install Kitura CLI by Homebrew, but it came error below.

Is this as same reason as the error of Kitura app, isn't it?

[code]

I will install latest Xcode and try again.

[2019-05-30 13:20] kilnerm commented on #1455
@uskithub Let me know how it goes!

If you upgrade to Xcode 10.2.1 you will be at the same level as I am and I can create the projects without issues.

Also, you should not need to install the cli tools for the Kitura app to work.

[2019-05-30 15:17] ddunn2 commented on #1455
@uskithub
The reason you need to update Xcode is the macOS app and the CLI generate projects built for Swift 5 as defined in the generated [Package.swift](https://github.com/IBM-Swift/generator-swiftserver-projects/blob/init/Package.swift#L1) file and Swift 5 support was released in Xcode 10.2

Updating your Xcode to the latest version should resolve this issue at least :)

[2019-05-30 23:39] TaborKelly opened #1456 "Cookie creation enhancement"
## Context and Description
Kitura uses Foundations `HTTPCookie`, which is great. However, it would be nice if it were easier to create `HTTPCookie`s.

### Environment Details
Swift 5.0.1, XCode 10.2.1, macOS 10.14.5.

### Steps to Reproduce
Try to create a cookie to send in a `RouterResponse`. You end up writing something like this:
[code]

### Expected vs. Actual Behaviour
It would be great to ha

[2019-05-31 01:54] crspybits commented on #1454
OK-- whoops. This was my bad. Somehow I had been SWIFT_VERSION's of 5 in my Xcode project, but when I cleaned, and tried again, this isn't happening. I'm closing. Thanks!

[2019-05-31 01:54] #1454 closed

[2019-05-31 06:31] pushkarnk commented on #1456
IMO, there shouldn't be a problem in providing some convenience methods to work with cookies.

[2019-05-31 08:50] ianpartridge commented on #1456
Yes, very happy to accept improvements like this.

[2019-06-01 17:37] MiquelMirat commented on #1312
My issue was that i only added that dependency on the TestTarget... hope it helps someone!

[2019-06-04 10:48] #1450 closed

[2019-06-05 08:17] kilnerm commented on #1455
@uskithub Did the Xcode upgrade resolve your issue?

[2019-06-05 10:08] djones6 opened #1457 "Serviceability of Kitura"
Deliver improvements and deployment recommendations to improve the serviceability of Kitura deployments in a variety of environments.

## Context and Description
In order to effectively debug issues with Kitura servers, various resources would be beneficial that are not generally available today.  For example:
- detailed tracing of requests and responses sent to/from the server
- environment infor

[2019-06-05 10:16] djones6 opened #1458 "Enhance Kitura's detailed logging"
## Context and Description
Kitura currently contains virtually no detailed logging per-request.  Information such as the number of bytes read / parsed from a client, the incoming message and requested route, are simply not logged at any level.

An issue with adding logging of this verbosity is that the log statements themselves add overhead, regardless of whether logging is enabled.  The overhead

[2019-06-05 10:20] djones6 opened #1459 "Investigate PD artefacts from Kitura deployments"
## Context and Description
If a Kitura server crashes or hangs when deployed, how do we investigate and debug it?

We probably need a core file.
- Will it contain everything we need?
- Are there are any special requirements for how the app was compiled for it to be useful?
- Are there any other resources external to the core that need to be captured?
- What requirements are there on the deploy env

[2019-06-05 15:22] TaborKelly commented on #1450
Would it be possible to get a tagged release with this change?

[2019-06-07 09:04] KaanYT opened #1461 "RouterRequest Write Method - Application Level Encryption"
## Context and Description
We want to use application level encryption. We couldn't find proper way to do it without disabling Kitura's some features.

### Similar Example - JWT

It might look similar to [JWT](https://github.com/IBM-Swift/Swift-JWT/blob/master/Sources/SwiftJWT/JWTDecoder.swift). But it is not suitable for this case.
* Diffrences
	* Keys are created for each session.
	* Keys are ke

[2019-06-07 15:02] djones6 commented on #1461
You're correct that there is no specific framework support for decrypting parts of a request / encrypting parts of a response.  However, it's possible to create your own 'wrapper' type that represents the encrypted request, with a decrypt function that decrypts the ciphertext, and then decodes that into the Codable type you expect.

If you want to send encrypted responses, you could make the wrapp

[2019-06-08 18:20] KaanYT commented on #1461
Hi David,

Yes that should work but it is increasing redundancy especially in large project. I should be able to control it from one central point. For an enterprise ready product, I believe this should be implemented. Changeable RouterRequest body might become handy for other type of cases. And it gives flexibility.

[2019-06-10 16:03] djones6 commented on #1461
I agree, it would be helpful for the request body to be mutated prior to being consumed by other handlers.  In the short term something like this _could_ be hacked into Kitura 2, but I'd see that as more of a stop-gap solution.

What I'd really like is to provide a mechanism where you stream the bytes of the request body, and can plug in middlewares that are essentially filters.  This is quite a s

[2019-06-11 16:01] djones6 opened #1462 "Swift 5.1 compilation warnings"
Compilation warnings when compiling a `kitura init` project on Swift 5.1 (macOS):
[code]

[2019-06-12 13:46] djones6 commented on #1450
@TaborKelly this requires a minor version increment as it adds new API.  I expect that we'll do a Kitura 2.8 release next week.

[2019-06-12 13:54] djones6 opened #1463 "Update Kitura helm chart and sample"
## Context and Description
Update the Kitura helm chart sample to include best practices for configuration, monitoring and deployment:
https://github.com/IBM/charts/tree/master/stable/ibm-swift-sample

[2019-06-12 13:59] djones6 commented on #1463
There are some places where Kitura's configuration could be performed via Helm, but is currently hard-coded in the sample:
- logging: hard-coded to use HeliumLogger at `.info`
  - level should be configurable at deployment time.  In the future we should adapt the example to use swift-log
- SSL configuration: currently not part of `kitura init`
- OpenAPI configuration: currently not part of a vanil

[2019-06-12 14:40] djones6 commented on #1463
Here's an adapted `kitura init` project to log based on a `LOG_LEVEL` environment variable:
https://github.com/djones6/KituraInit/commit/24215d2cb3b5f7d6d9825ea3537e2ae58000ad15

[2019-06-13 16:02] awadodeh commented on #1447
What was the fix for this issue?

[2019-06-13 17:15] pushkarnk commented on #1447
Hi @awadodeh , our best guess is that these messages are logged by Network.framework or some other macOS library. Do you only see these messages or does any functionality appear broken?

[2019-06-14 08:45] pushkarnk commented on #1329
I had the prototyped behaviour, with a fallback option, reviewed by Rahul and he thinks it is OK. Created PR #1464 for this enhancement. Doc changes pending.

[2019-06-18 14:02] awadodeh commented on #1447
@pushkarnk, I have seen this error but I give up on it for couple days. I will investigate it more and post an update about the issue.

[2019-06-18 14:22] pushkarnk commented on #1447
@weissi Any idea who logs these warning/error messages? They're seen only while launching Kitura with Kitura-NIO, in Xcode
[code]

[2019-06-18 14:51] weissi commented on #1447
@pushkarnk I can't reproduce I think unfortunately. I created a `KituraTest` executable and it doesn't print anything:

[code]

I also checked Console.app but didn't see this error.

[2019-06-18 15:14] Andrew-Lees11 opened #1465 "Curl 7.58 bug causing chunked encoding to fail"
Curl 7.58 had a [bug](https://github.com/curl/curl/issues/2303) where it would call back twice with chunked encoding. This then causes the Kitura-net parser to be unable to read the body and throw an error.

This was fixed in 7.59 however Ubuntu 18.04 includes 7.58 by default.

@wbittles raised a [bug report against Ubuntu](https://bugs.launchpad.net/ubuntu/+source/hdf5/+bug/1833198) and we hope t

[2019-06-18 15:43] weissi commented on #1447
Oops, excuse me. I can actually reproduce. Here's a `dtrace` trace that shows where this is coming from:

[code]

[2019-06-18 15:53] weissi commented on #1447
this is macOS's resolver trying to resolve the host. This message can be safely ignored.

There's nothing SwiftNIO can do better here. It's the correct thing to do to resolve whatever host was passed to SwiftNIO even if it's already an IP address for proper IPv6 support (I think [RFC 7050](https://www.ietf.org/rfc/rfc7050.txt) is the relevant here).

If KituraNIO definitely doesn't want NIO to inv

[2019-06-18 17:13] pushkarnk commented on #1447
Thanks @weissi for the investigation and explanation!

[2019-06-19 08:42] RudraniW commented on #1456
I have initial implementation of the given enhancement. Now I am working on writing test cases and documentation for the same. I will provide a link to a branch with this code soon.

[2019-06-19 09:03] kilnerm commented on #1455
I will mark this as closed, if further assistance is required please re-open as necessary.

[2019-06-19 09:03] #1455 closed

[2019-06-19 10:23] RudraniW commented on #1456
You can check the implementation code here : https://github.com/RudraniW/Kitura/tree/CreateHTTPCook

[2019-06-19 10:28] djones6 commented on #1465
After talking with @ianpartridge we feel that we should try to tolerate this bug in Kitura-net, if at all possible, as we suspect it is unlikely that Ubuntu will deviate from their normal process of only applying security patches to the LTS packages.

Toleration would require us to detect when libcurl calls us back with duplicate data.  It would go something like this:
- identify when the response

[2019-06-19 10:31] djones6 commented on #1465
I should also add that there's some validation to be done here:  we currently are basing our analysis on the output from a single chunked response, that only contains a single chunk.  My assumption on reading the bug report is that every chunk is duplicated (and so every callback will be received twice, apart from the final zero-length chunk).  But a prospective fix should be tested against other

[2019-06-19 11:03] ianpartridge commented on #1465
To add to this, we should check for curl 7.58 too.

[2019-06-21 12:43] jefhai opened #1467 "Documentation/examples for web-server running on iOS"
I want to developer an iOS application that hosts its own web server on an iPad or iPhone users can access from a PC or Mac or other phone. Is this possible with Kitura? What level of support does this have? And are there any documentation or examples I can get started with? Thank you

[2019-06-24 07:23] RudraniW commented on #1456
@TaborKelly I have created #1468 with possible solution for this issue. Here is a sample code to use this feature.
[code]
Can you review and provide feedback please?

[2019-06-25 15:57] TaborKelly commented on #1456
Thanks @RudraniW, I commented on #1468.

[2019-06-27 06:34] RudraniW commented on #1456
@TaborKelly based on your feedback I have new version of `addCookie`. In this new version of `addCookie` these mandatory attributes are made function parameters. User can give other optional cookie attributes through the `otherAttributes` array. The name, value, domain and path attributes are ignored if they are repeated in `otherAttributes` array.
You can check the implementation code here : http

[2019-06-28 14:44] djones6 commented on #1461
Kitura already provides a `writtenDataFilter` which middlewares such as [Kitura-Compression](https://github.com/IBM-Swift/Kitura-Compression/) make use of.

There is currently no equivalent `readDataFilter`, but that's probably the right approach to apply transformations to the data as it is read in.

[2019-06-28 15:26] ianpartridge commented on #1461
I remember @shmuelk saying he thought the design of `writtenDataFilter` was a mistake and he'd change it if he had his time again... @shmuelk any thoughts on this?

[2019-06-30 09:20] shmuelk commented on #1461
Unfortunately, I haven't looked at this (or Swift) in quite a while.

I do remember that my design wasn't the greatest. I think I tried to emulate the Node.js "API" a little too closely.

[2019-07-02 16:29] TaborKelly commented on #1456
I apologize for not getting back to you sooner. I'm not a web expert, do we want `domain` to be required? The Apple documentation says that either  `originURL` or `domain` will work. I'm curious if @ianpartridge, @pushkarnk, @djones6, or @kilnerm have more thoughts?

[2019-07-03 05:41] pushkarnk commented on #1456
Yes, we did consider this "either `originURL` or `domain`" condition. To enforce it, the only way is to introduce a new public enum (which is undesirable here). The `domain` attribute seems to be more common than `originURL`. In fact, there's no mention of `origin URL` in the HTTP Cookies RFC (see [this section](https://tools.ietf.org/html/rfc6265#section-5.2)). Hence the decision to make `domain`

[2019-07-03 09:27] djones6 commented on #1462
Kitura (+ dependencies) now compile without warnings, possibly with the exception of BlueSSLService on Mac

Need to go through and update all repos to CI on the latest 5.1 snapshot.  My plan is to update the snapshot and then push an issue.swift51 branch to each repo to get a Travis run, then raise PRs to address any fallout.

[2019-07-03 14:07] helenmasters opened #1470 "Update Kitura landing page to remove BluePic"
## Context and Description
The BluePic repo https://github.com/IBM/BluePic is no longer maintained, so we shouldn't link to it from the Kitura landing page.

The intention is to replace BluePic with [Design a step-tracking app with Kitura and Kubernetes](https://developer.ibm.com/patterns/design-a-step-tracking-app-with-kitura-and-kubernetes/)

[2019-07-03 14:18] TaborKelly commented on #1456
That works for me. Thanks pushkarnk and RudraniW!

[2019-07-04 13:06] #1470 closed

[2019-07-16 01:44] awadodeh opened #1473 "Codable routes can be misleading"
While developing routes using the codable routes feature in Kitura I found that it could introduce some readability issues that can be resolved if parameters are allowed to be added to the routes.

This is a working example:

[code]

But if I added params to the routes it does not detect them.

[code]

[2019-07-17 08:52] djones6 commented on #1462
Kitura-Sample fails to build due to appid-serversdk-swift requiring SwiftyJSON, which has a 5.1 compilation failure.
Raised https://github.com/IBM-Swift/SwiftyJSON/pull/44 to address this
Also raised https://github.com/ibm-cloud-security/appid-serversdk-swift/pull/93 for FoundationNetworking changes

Raised some PRs to address other 5.1 compilation warnings:
https://github.com/IBM-Swift/BlueRSA/pu

[2019-07-25 09:47] djones6 commented on #1462
Missed one (in macOS specific code): https://github.com/IBM-Swift/BlueSSLService/pull/80

[2019-07-25 09:49] djones6 commented on #1462
I'm marking this as complete: the remaining issue involves the appid component, and a PR is raised and a plan is in place to release a new version containing that fix.

[2019-07-25 09:49] #1462 closed

[2019-07-29 05:02] pushkarnk commented on #1444
The "per-PR" performance test automation that we agreed to take up can be tracked using https://github.com/IBM-Swift/Kitura-NIO/issues/109 I'm closing this issue for now because there seems to action here.

[2019-07-29 05:02] #1444 closed

[2019-07-30 01:26] diuming opened #1476 "Is it a correct way to create kitura web using xcode11's swift package?"
## Context and Description
I create a kitura web using xcode11's swift package.
- adding main.swift in Sources/ProjectName.
- adding dependencies `Kitura-StencilTemplateEngine` and `Configuration` packages.

let projectPath = `ConfigurationManager.BasePath.project.path`
- run in xcode11
the projectPath doesn't point to project folder, StencilTemplateEngine also can't points to default folder `View

[2019-08-01 07:53] klaas commented on #895
Would be great to have HTTP2 support to send out Apple Push Notifications!

See https://developer.apple.com/documentation/usernotifications/setting_up_a_remote_notification_server/sending_notification_requests_to_apns

[2019-08-02 10:01] makleso6 commented on #1422
merged

[2019-08-02 10:01] #1422 closed

[2019-08-02 12:19] #1456 closed

[2019-08-03 03:23] HaydenMcCabe opened #1477 "Code coverage hasn't been updated"
## Context and Description
I noticed that the code coverage testing hasn't been updated in over a year. I thought I might go and write some of the tests needed, but the version that was last tested has significant differences from the current version of the code.

### Environment Details
Available to see at [this link](https://codecov.io/gh/IBM-Swift/Kitura)

### Steps to Reproduce
Available to se

[2019-08-05 08:34] djones6 commented on #1329
1464 is now merged, and will be tagged soon.

[2019-08-05 08:34] #1329 closed

[2019-08-05 08:36] djones6 opened #1478 "Resolve remaining 5.1 compilation warnings"
~A number of IBM-Swift repositories emit compilation warnings with Swift 5.1 (Swift-Kuery as an example).  These should be resolved.~
Turns out, the project being built was on a back-level version of Kuery.  Latest version compiles cleanly.

[2019-08-05 12:55] #1478 closed

[2019-08-09 15:19] djones6 commented on #1465
There was a problem reported on Slack involving CouchDB which I believe is also a symptom of this: an application that works fine on Mac, but fails with `ClientRequest error. Failed to parse response. Error=Parsed fewer bytes than were passed to the HTTP parser` when running on Ubuntu 18.04.

CouchDB [can use the chunked encoding in some situations](https://docs.couchdb.org/en/2.2.0/api/basics.htm

[2019-08-12 15:37] djones6 commented on #1418
This is now tagged in Kitura `2.8.0`.

[2019-08-12 15:38] djones6 commented on #1450
This is now tagged in Kitura `2.8.0`.

[2019-08-12 15:39] djones6 commented on #1329
This is now tagged in Kitura `2.8.0`.

[2019-08-15 08:49] djones6 commented on #1365
IBM-Swift/Kitura-OpenAPI#25 merged and tagged.

[2019-08-15 08:49] #1365 closed

[2019-08-15 14:53] kumarmuthaiah18 opened #1480 "djones6 David Jone's you cannot do anything by banning me from Slack"
## Context and Description

If you are banning me, then it tells your IBM company is going in wrong path! Let's see how long it holds!

You guys don't know how to respect others humanly then how going to succeed!

### Environment Details
Information about your OS, Swift version and Xcode version if on macOS.

### Steps to Reproduce
1) ...
2) ...
etc

### Expected vs. Actual Behaviour
- [ ] Expecte

[2019-08-15 14:54] kumarmuthaiah18 commented on #1480
You guys don't know how to respect others humanly then how going to succeed!  Ban me here also nothing you can do! You guys think it is easy to solve things by banning or killing! Not like That buddy!

[2019-08-15 14:55] kumarmuthaiah18 commented on #1480
IBM I know the history event hough you work with Apple now!

[2019-08-15 14:58] kumarmuthaiah18 commented on #1480
I know to save IBM from knowing its weakness you will of course will remove this issue and its comments!

[2019-08-15 15:00] kumarmuthaiah18 commented on #1480
Initially I felt surprised how IBM can do open source, without any bad motives! It is now found that they have bad motives and they are not helping humanity.

[2019-08-15 15:01] kumarmuthaiah18 commented on #1480
IBM is known for giving cheaper products and less mind peace in customers!

[2019-08-15 15:02] kumarmuthaiah18 commented on #1480
Open source is for free don't pollute this thing with your money motives! Similarly some other companies operate like that!

[2019-08-15 15:03] kumarmuthaiah18 commented on #1480
Open source is for serving the whole humanity with unconditional love!

[2019-08-15 15:05] kumarmuthaiah18 commented on #1480
IBM is just giving a me too product, and stab customers at back!

[2019-08-15 15:07] kumarmuthaiah18 commented on #1480
Love can do anything, but hate cannot achieve anything for long! It is temporary you win, lets see!

[2019-08-15 15:10] #1480 closed

[2019-08-21 13:29] djones6 commented on #1034
This issue is old and would need reevaluating on the latest level of Kitura-net.  These bugs may well have been resolved as part of our work on reducing thread sanitizer issues and related thread safety crashes.

[2019-08-21 13:29] #1034 closed

[2019-08-21 13:32] djones6 commented on #1463
`kitura init` is being updated to include the `LOG_LEVEL` changes as part of https://github.com/IBM-Swift/generator-swiftserver/pull/708

[2019-08-29 09:10] mbarnach commented on #1363
Will this be fixing the lack of header in Swagger? E.g. when generating a Swagger API, if we have a middleware that requires a JWT, this information is not set in the JSON generated.

[2019-08-29 09:23] mbarnach opened #1482 "The `SwaggerDocument` struct is private and hardcoded"
## Context and Description
When creating a router, a private `SwaggerDocument` is created. This document is not accessible to the end user and has some hardcoded values, like `version`, `title` and `description`.
These information are used when exporting through the Kitura-OpenAPI package.
It would be handy to allow to set these values when creating the router or later.

One solution would be to s

[2019-09-05 06:50] pckrishnadas88 commented on #950
What we need to select then? I can see only ios devices. it runs from cmd terminal only.

[2019-09-06 09:03] djones6 commented on #1473
This is a bug - the intention (as of https://github.com/IBM-Swift/Kitura/pull/1310 / Kitura 2.6) was that users should specify `:id` on routes that expect an identifier.  With logging enabled, you'll see a warning that `:id` was added implicitly if you do not specify it yourself.

However, it looks like the implementation was incorrect: although specifying `:id` silences the warning, Kitura then a

[2019-09-06 12:25] #1473 closed

[2019-09-06 12:44] djones6 commented on #1473
This has been fixed in Kitura `2.8.1`.  I'll back-port the fix to the 2.7 release in https://github.com/IBM-Swift/Kitura/pull/1485

[2019-09-10 16:52] christiancompton commented on #1363
@mbarnach The swagger generation we were using previously has been removed - neither endpoints nor JWT middleware will be generated.

[2019-09-10 16:55] christiancompton commented on #1363
@mbarnach Reopening - the above is true for the `generator-swiftserver` project, as mentioned in part of this issue, not the whole issue.  Apologies!

[2019-09-25 09:05] djones6 opened #1487 "Upgrade repos to Swift 5.1"
Now that 5.1 is released, all repos should upgrade to the release 5.1 image and dockerfiles.

[2019-10-09 08:49] #1384 closed

[2019-10-17 15:10] djones6 commented on #1487
Done, with a few exceptions (Kitura-Sample is currently failing to build due to appid,  BlueRSA has an unrelated intermittent test failure).  Both have open PRs:
https://github.com/IBM-Swift/BlueRSA/pull/53
https://github.com/IBM-Swift/Kitura-Sample/pull/130

[2019-10-17 15:10] #1487 closed

[2019-10-25 03:12] awadodeh opened #1490 "Does Kitura support multi path variables on codable routes?"
## Context and Description
Does Kitura support adding an endpoint similar to this  `GET /cars/carID/Image` ?

I get the following error on this
`router.get("/cars/:carID/images", handler: self.handleGetCarImageById)`

[code]